@import "../utils/vars";

.cookies {
  min-height: 130px;
  padding: 20px 0;
  display: none;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  @media #{$viewport-480} {
    padding: 20px 20px 60px;
    font-size: 14px;

    .link {
      font-size: 14px;
    }
  }

  .row {
    margin-bottom: 0;
  }
  &_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &_text {
    color: $grey8a;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: $font-family-roboto;
    flex: 1;
  }

  &_button {
    flex: 0;

    @media #{$viewport-480} {
      position: absolute;
      top: calc(100% + 20px);
      left: 30px;
    }
  }

  &_close {
    flex: 0;
    cursor: pointer;

    @media #{$viewport-480} {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
