@import "../utils/vars";

$footer-padding: 38px;
$footer-item-padding: 26px;

.page {
  &--footer {
    border: 1px solid $grey27;

    @media #{$viewport-320} {
      height: auto;
    }

    @media #{$viewport-750} {
      height: 235px !important;
    }

    .page_left,
    .page_right {
      align-items: flex-start;
    }

    .page_left_content,
    .page_right_content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}

.footer {
  &-logo {
    padding: 48px 0 0 0;
    margin-left: 12px;

    @media #{$viewport-320} {
      display: none;
    }

    @media #{$viewport-750} {

    }

    @media #{$viewport-970} {
      display: block;
      padding: 54px 0 0;
      margin-left: 0;
    }

    @media #{$viewport-1280} {
      padding: 48px 0 0 0;
      margin-left: 12px;
    }

    svg {
      width: 172px;
      height: 37px;

      @media #{$viewport-970} {
        width: 144px;
      }

      @media #{$viewport-1280} {
        width: 172px;
        height: 37px;
      }
    }
  }

  &-nav {
    padding: $footer-padding 0 0 0;
    margin-right: 28px;

    @media #{$viewport-320} {
      text-align: center;
      margin: 0;
    }

    @media #{$viewport-600} {
      text-align: left;
    }

    @media #{$viewport-970} {
      padding: 50px 0 0;
      margin-right: 0;
    }

    @media #{$viewport-1280} {
      padding: $footer-padding 0 0 0;
      margin-right: 28px;
    }

    a {
      color: $grey8c;
      font-size: 16px;
      font-family: $font-family-roboto;
      font-weight: 500;
      line-height: 36px;
      @extend .transition;

      &:hover {
        color: $yellow;
      }
    }
  }

  &-links {
    padding: $footer-padding 0 0 0;

    @media #{$viewport-320} {
      text-align: center;
      margin: 0;
    }

    @media #{$viewport-600} {
      text-align: left;
    }

    @media #{$viewport-970} {
      padding: 50px 0 0;
    }

    @media #{$viewport-1280} {
      padding: $footer-padding 0 0 0;
    }

    .link {
      font-size: 16px;
      font-family: $font-family-roboto;
      font-weight: 500;
      line-height: 36px;
      color: $grey8c;
      @extend .transition;
    }

    &_item {
    }
  }

  &-address {
    color: $grey8c;
    padding: $footer-padding 0 0 0;
    margin-right: 27px;

    @media #{$viewport-320} {
      text-align: center;
      margin: 0;
    }

    @media #{$viewport-600} {
      text-align: left;
    }

    @media #{$viewport-750} {
      margin-right: 0;
    }

    @media #{$viewport-970} {
      padding: 50px 0 0;
      margin-right: -13px;
    }

    @media #{$viewport-1280} {
      padding: $footer-padding 0 0 0;
      margin-right: 27px;
    }

    &_item {
      font-size: 16px;
      font-family: $font-family-roboto;
      font-weight: 500;
      line-height: 36px;
    }
  }

  &-socials {
    padding: 48px 0 0 0;
    margin-right: 33px;

    @media #{$viewport-320} {
      margin: 0;
      &_item {
        display: inline-block;
        padding: 0 5px;
      }
    }

    @media #{$viewport-600} {
      margin-left: 20px;
    }

    @media #{$viewport-750} {
      margin-right: 18px;
      margin-left: 0;

      &_item {
        display: block;
        padding: 0 0;
      }
    }

    @media #{$viewport-970} {
      padding: 54px 0 0;
      margin-right: 25px;
    }

    @media #{$viewport-1280} {
      padding: 48px 0 0 0;
      margin-right: 33px;
    }

    &_item {
      line-height: 36px;
      margin-bottom: 5px;
    }
  }
}

.copyright {
  text-align: center;
  line-height: 52px;
  font-size: 14px;
  font-family: $font-family-lato;
  font-weight: 700;
}

.brand-logo {
  display: block;
}
