@import "../utils/vars";

$footer-padding: 48px;
$footer-item-padding: 26px;

.page {
  &--footer {
    .page_left,
    .page_right {
      align-items: flex-start;
    }
    .page_left_content,
    .page_right_content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}

.footer {
  &-logo {
    padding: $footer-padding 0 0 0;
  }

  &-nav {
    padding: $footer-padding 0 0 0;

    &_item {
    }

    a {
      color: $grey8c;
      font-size: 16px;
      font-family: $font-family-roboto;
      font-weight: 500;
      line-height: 36px;
      @extend .transition;

      &:hover {
        color: $yellow;
      }
    }
  }

  &-links {
    padding: $footer-padding 0 0 0;

    .link {
      font-size: 16px;
      font-family: $font-family-roboto;
      font-weight: 500;
      line-height: 36px;
      color: $grey8c;
      @extend .transition;
    }

    &_item {
    }
  }

  &-address {
    color: $grey8c;
    padding: $footer-padding 0 0 0;

    &_item {
      font-size: 16px;
      font-family: $font-family-roboto;
      font-weight: 500;
      line-height: 36px;
    }
  }

  &-socials {
    padding: $footer-padding 0 0 0;

    &_item {
      line-height: 36px;
    }
  }
}

.copyright {
  text-align: center;
  line-height: 52px;
  font-size: 14px;
  font-family: $font-family-lato;
  font-weight: 700;
}


@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 320px) {

}
