@import "../utils/vars";
@import "../theme/theme";

.form {
  &_header {
    font-family: $font-family-oswald;
    font-weight: 600;
    color: $greyE2;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: -1px;
    padding: 0 0 15px 0;
    margin-bottom: 40px;
  }

  &_half {
    overflow: hidden;
    margin-bottom: 0;
    .form_input {
      width: calc(50% - 29px);
      float: left;
      &:last-child {
        float: right;
      }
    }
  }

  .md-modal-form & {
    .form_buttons {
      overflow: hidden;
      display: block;
    }

    .form_reset {
      float: left;
    }

    .form_submit {
      float: right;
    }
  }

  &_buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &_reset {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0 20px 0 0;
    margin-left: 10px;
    position: relative;
    color: #b4b4b4;
    font-size: 16px;
    font-weight: 900;
    font-family: $font-family-roboto;
    &:after{
      $size: 11px;
      content: '';
      width: $size;
      height: $size;
      position: absolute;
      top: calc(50% - #{($size - 1)/2});
      right: 0;
      background: no-repeat url("/assets/img/icon/cross_small.svg") transparent;
    }
  }

  &_submit {
    margin-right: 45px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 22px;
  }

  &_helper-text {
    text-align: right;
    color: #7e7e7e;
    padding: 10px 0 0;
    font-size: 12px;
    opacity: 0
  }

  .input-field {
    input, textarea {
      font-size: 1.2rem !important;
      color: $greyEA;
    }
    label {
      color: $grey84;
      &.active {
        color: $grey84 !important;
      }
    }

    .helper-text {
      &:after {
        color: $red;
      }
    }
  }
}

.md-modal-form {
  max-width: 100% !important;
  min-width: 100% !important;
  max-height: 100% !important;

  .md-close {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: -30px;
    right: 30px
  }
}

.md-overlay {
  background: url("/assets/img/bgc/contact_us_pop-up_bg.jpg") center no-repeat $black !important;
}



