@import "../utils/vars";
@import "../theme/theme";

.range-slider{
  position: relative;
  display: inline-block;
  width: 1px;
  height: 128px;

  &_arrow {
    position: absolute;

    left: -4px;
    width: 10px;
    height: 4px;
    cursor: pointer;
    @include themify($themes) {
      background: themed('rangeBgArrow');
    }
  }

  &_arrow-prev {
    bottom: calc(100% + 54px);
    transform: rotate(180deg);
  }

  &_arrow-next {
    top: calc(100% + 54px);
  }

  &_current-slide-number {
    font-size: 14px;
    font-weight: 600;
    font-family: $font-family-oswald;
    position: absolute;
    @include themify($themes) {
      color: themed('rangeColorActive');
    }
    bottom: calc(100% + 15px);
    left: -7px;
  }

  &_range-all {
    width: 1px;
    height: 128px;
    @include themify($themes) {
      background-color: themed('rangeElmBgc');
    }
  }

  &_range-progress {
    width: 1px;
    height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    @include themify($themes) {
      background-color: themed('rangeElmBgcActive');
    }
  }

  &_all-slide-number {
    font-size: 14px;
    font-weight: 600;
    font-family: $font-family-oswald;
    @include themify($themes) {
      color: themed('rangeColor');
    }
    position: absolute;
    top: calc(100% + 15px);
    left: -7px;
  }
}

@media #{$viewport-320} {

}

@media #{$viewport-480} {

}

@media #{$viewport-600} {

}

@media #{$viewport-750} {

}

@media #{$viewport-970} {

}

@media #{$viewport-1280} {

}
