$fontPath: "...";
$SemiBold: "family=Oswald:wght@500;600";
// fonts

// Oswald Medium    500
// Oswald SemiBold  600

// Lato
// Lato Regular
// Lato

// Roboto Regular 400
// Roboto Medium  500
// Roboto Bold    700

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&#{$SemiBold}&family=Roboto:wght@400;500;700&display=swap');

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


