@import "../utils/vars";
.container {
  position: relative;
}

.page {
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  &_wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &_container {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
  }

  &_content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &_title {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 1;

    @media #{$viewport-1280} {
      top: 106px;
    }
  }

  &_left {
    justify-content: flex-end;
  }

  &_right {

  }

  &_left, &_right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &_left_content {

  }

  &_right_content {

  }
}
