@import "../utils/vars";
.container {
  position: relative;
}

@media #{$mobile-viewport} {

}

@media #{$viewport-320} {
  $containerWidth: 100%;
  $containerMaxWidth: 480px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);
  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    width: 100% !important;
    padding: 0 16px;
  }

  .page {
    &_left {
      width: calc(50% - #{$containerWidth}/6);
      padding-left: 16px;
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6);
      padding-right: 16px;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: $containerLeftMaxWidth;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: $containerRightMaxWidth;
      padding-left: $containerRightWidth/8;
    }

    &--industry {
      .page_right_content {
        padding-right: $containerLeftWidth/8
      }
    }
  }

  .product-slider {
    .page_right_content {
      padding-right: 2*$containerLeftWidth/8
    }
  }

  .portfolio-slider{
    &_item {
      .page_right_content {
        padding-right: 2*$containerRightWidth/8;
      }
    }
  }

  .range-slider {
    &--product {
      right: calc(50% - #{$containerWidth}/2);
    }

    &--portfolio {
      right: calc(50% - #{$containerWidth}/2);
    }
  }
}

@media #{$viewport-480} {
  $containerWidth: 100%;
  $containerMaxWidth: 600px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);
  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    width: 100% !important;
    padding: 0 26px;
  }

  .page {
    &_left {
      width: calc(50% - #{$containerWidth}/6);
      padding-left: 26px;
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6);
      padding-right: 26px;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: $containerLeftMaxWidth;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: $containerRightMaxWidth;
      padding-left: $containerRightWidth/8;
    }

    &--industry {
      .page_right_content {
        padding-right: $containerLeftWidth/8
      }
    }
  }

  .product-slider {
    .page_right_content {
      padding-right: 2*$containerLeftWidth/8
    }
  }

  .portfolio-slider{
    &_item {
      .page_right_content {
        padding-right: 2*$containerRightWidth/8;
      }
    }
  }

  .range-slider {
    &--product {
      right: calc(50% - #{$containerWidth}/2);
    }

    &--portfolio {
      right: calc(50% - #{$containerWidth}/2);
    }
  }
}

@media #{$viewport-600} {
  $containerWidth: 100%;
  $containerMaxWidth: 750px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);
  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    width: 100% !important;
    padding: 0 30px;
  }

  .page {
    &_left {
      width: calc(50% - #{$containerWidth}/6);
      padding-left: 30px;
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6);
      padding-right: 30px;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: $containerLeftMaxWidth;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: $containerRightMaxWidth;
      padding-left: $containerRightWidth/8;
    }

    &--industry {
      .page_right_content {
        padding-right: $containerLeftWidth/8
      }
    }
  }

  .product-slider {
    .page_right_content {
      padding-right: 2*$containerLeftWidth/8
    }
  }

  .portfolio-slider{
    &_item {
      .page_right_content {
        padding-right: 2*$containerRightWidth/8;
      }
    }
  }

  .range-slider {
    &--product {
      right: calc(50% - #{$containerWidth}/2);
    }

    &--portfolio {
      right: calc(50% - #{$containerWidth}/2);
    }
  }
}

@media #{$viewport-750} {
  $containerWidth: 100%;
  $containerMaxWidth: 970px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);
  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    width: 100% !important;
    padding: 0 30px;
  }

  .page {
    &_left {
      width: calc(50% - #{$containerWidth}/6);
      padding-left: 30px;
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6);
      padding-right: 30px;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: $containerLeftMaxWidth;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: $containerRightMaxWidth;
      padding-left: $containerRightWidth/8;
    }

    &--industry {
      .page_right_content {
        padding-right: $containerLeftWidth/8
      }
    }
  }

  .product-slider {
    .page_right_content {
      padding-right: 2*$containerLeftWidth/8
    }
  }

  .portfolio-slider{
    &_item {
      .page_right_content {
        padding-right: 2*$containerRightWidth/8;
      }
    }
  }

  .range-slider {
    &--product {
      right: calc(50% - #{$containerWidth}/2);
    }

    &--portfolio {
      right: calc(50% - #{$containerWidth}/2);
    }
  }
}

@media #{$viewport-970} {
  $containerWidth: 100%;
  $containerMaxWidth: 1280px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);
  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    width: 100% !important;
    padding: 0 30px;
  }

  .page {
    &_left {
      width: calc(50% - #{$containerWidth}/6 + 17px);
      padding-left: 30px;
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6 - 17px);
      padding-right: 30px;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: $containerLeftMaxWidth;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: $containerRightMaxWidth;
      padding-left: $containerRightWidth/8;
    }

    &--industry {
      .page_right_content {
        padding-right: $containerLeftWidth/8
      }
    }

    &#{&}--banner {
      height: 600px;
    }

    &#{&}--company {
      height: 708px;
    }

    &#{&}--services {
      height: 778px;
    }

    &#{&}--idea-to-product {
      height: 653px;
    }

    &#{&}--industry {
      height: 681px;
    }

    &#{&}--portfolio {
      height: 678px;
    }

    &#{&}--good-in {
      height: 622px;
    }

    &#{&}--contacts {
      height: 688px;
    }

    &#{&}--footer {
      height: 265px;
    }
  }

  .product-slider {
    .page_right_content {
      padding-right: 2*$containerLeftWidth/8
    }
  }

  .portfolio-slider{
    &_item {
      .page_right_content {
        padding-right: 2*$containerRightWidth/8;
      }
    }
  }

  .range-slider {
    &--product {
      right: calc(50% - #{$containerWidth}/2);
    }

    &--portfolio {
      right: calc(50% - #{$containerWidth}/2);
    }
  }
}

@media #{$viewport-1280} {
  $containerWidth: 100%;
  $containerMaxWidth: 1244px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);

  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    padding: 0 18px !important;
    //&:after {
    //  content: '';
    //  width: 1px;
    //  background-color: #fff;
    //  position: absolute;
    //  left: 33.3333%;
    //  top: 0;
    //  bottom: 0;
    //}
  }

  .page {
    &_left {
      width: calc(50% - #{$containerWidth}/6);
      padding: 0;
      //border-right: 1px solid rgba(#000, 0.5);
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6);
      padding: 0;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: $containerLeftMaxWidth;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: $containerRightMaxWidth;
    }

    &--industry {
      .page_right_content {
        padding-right: $containerLeftWidth/8
      }
    }
  }

  .product-slider {
    .page_right_content {
      padding-right: 2*$containerLeftWidth/8
    }
  }

  .portfolio-slider{
    &_item {
      .page_right_content {
        padding-right: 2*$containerRightWidth/8;
      }
    }
  }

  .range-slider {
    &--product {
      right: calc(50% - #{$containerWidth}/2);
    }

    &--portfolio {
      right: calc(50% - #{$containerWidth}/2);
    }
  }
}
