@media #{$mobile-viewport} {
  .hide-on-small-custom {
    display: none;
  }

  //nav .brand-logo {
  //  left: 50% !important;
  //  transform: translateX(-50%) !important;
  //}
}

/**
  Overwrite
 */
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: auto;
    transform: translateX(0);
  }
}

@media #{$viewport-320} {
  .container {
    width: 100% !important;
    padding: 0 16px;
  }

  .page {
    flex-flow: column nowrap;
    justify-content: center;

    &_left {
      width: 100%;
      padding: 0 16px;
    }

    &_right {
      width: 100%;
      padding: 0 16px;
    }

    &_left_content {
      width: 100%;
      max-width: 100%;
    }

    &_right_content {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
    }

    &--banner {
      .page_content {
        padding-left: 19px;
      }
    }

    &--company {
      .page_right_content {
        padding-left: 19px;
      }

      .page_left_content {
        padding-left: 19px;
      }
    }

    &--services {
      .page_left {
        display: none;
      }

      .page_right {
        flex: 1;
      }

      .page_right_content {
        padding-left: 19px;
        max-width: 100%;
      }
    }

    &--idea-to-product {
      .page_container,
      .page_content {
        padding-left: 19px;
        flex-flow: column nowrap;
        justify-content: center;
      }
    }

    &--industry {
      .page_left {
        display: none;
      }

      .page_right_content {
        padding-left: 19px;
        max-width: 100%;
      }

      .page_right {
        flex: 1
      }
    }

    &--portfolio {
      .page_container,
      .page_content {
        padding-left: 19px;
        flex-flow: column-reverse nowrap;
        justify-content: center;
      }
    }

    &--good-in {
      .page_left_content {
        padding-left: 19px;
      }

      .page_right_content {
        padding-left: 19px;
      }
    }

    &--contacts {
      .page_left {
        display: none;
      }

      .page_right_content {
        padding-left: 19px;
      }

      .page_right {
        width: 100%;
        padding: 0 16px;
        flex: 1;
      }
    }

    &--footer {
      .page_left_content,
      .page_right_content {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }

  }

  .product-slider {
    .page_right_content {
      padding-right: 0
    }
  }

  .portfolio-slider{
    &_item {
      .page_right_content {
        padding-right: 0;
      }
    }
  }
}

@media #{$viewport-480} {

  .container {
    width: 100% !important;
    padding: 0 26px;
  }

  .page {
    flex-flow: column nowrap;
    justify-content: center;

    &_left {
      width: 100%;
      padding: 0 26px;
    }

    &_right {
      width: 100%;
      padding: 0 26px;
    }

    &_left_content {
      width: 100%;
      max-width: 100%;
    }

    &_right_content {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
    }

    &--banner {
      .page_content {
        padding-left: 19px;
      }
    }

    &--company {
      .page_right_content {
        padding-left: 19px;
      }

      .page_left_content {
        padding-left: 19px;
      }
    }

    &--services {
      .page_left {
        display: none;
      }

      .page_right {
        flex: 1;
      }

      .page_right_content {
        padding-left: 19px;
        max-width: 100%;
      }
    }

    &--idea-to-product {
      .page_container,
      .page_content {
        padding-left: 19px;
        flex-flow: column nowrap;
        justify-content: center;
      }
    }

    &--industry {
      .page_left {
        display: none;
      }

      .page_right_content {
        padding-left: 19px;
        max-width: 100%;
      }

      .page_right {
        flex: 1
      }
    }

    &--portfolio {
      .page_container,
      .page_content {
        padding-left: 19px;
        flex-flow: column-reverse nowrap;
        justify-content: center;
      }

      .page_right_content {
        padding-right: 17px;
      }
    }

    &--good-in {
      .page_left_content {
        padding-left: 19px;
      }

      .page_right_content {
        padding-left: 19px;
      }
    }

    &--contacts {
      .page_left {
        display: none;
      }

      .page_right_content {
        padding-left: 19px;
      }

      .page_right {
        width: 100%;
        padding: 0 26px;
        flex: 1;
      }
    }

    &--footer {
      .page_left_content,
      .page_right_content {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media #{$viewport-600} {
  $containerWidth: 100%;
  $containerMaxWidth: 750px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);
  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    width: 100% !important;
    padding: 0 30px;
  }

  .page {
    flex-flow: row nowrap;
    justify-content: center;

    &_left {
      width: calc(50% - #{$containerWidth}/6);
      padding: 0;
      padding-left: 30px;
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6);
      padding: 0;
      padding-right: 30px;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: 100%;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: 100%;
      padding-left: $containerRightWidth/8;
    }

    &--company{
      flex-flow: column nowrap;

      .page_left_content,
      .page_right_content {
        width: 100%;
        max-width: 100%;
      }

      .page_right,
      .page_left {
        width: 100%;
        max-width: 100%;
        padding: 0 30px;
      }
    }

    &--services,
    &--industry {
      .page_right {
        width: 100%;
        max-width: 100%;
        padding: 0 30px;
      }

      .page_right_content{
        padding-right: 93px;
      }
    }

    &--idea-to-product {
      .page_container,
      .page_content {
        display: flex;
        flex-flow: row nowrap;
      }

      .page_left {
        width: calc(50% - #{$containerWidth}/6);
        padding-left: 30px;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6);
        padding-right: 30px;
      }

      .page_left_content {
        width: $containerLeftWidth;
        max-width: $containerLeftMaxWidth;
      }

      .page_right_content {
        width: $containerRightWidth;
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
      }
    }

    &--portfolio,
    &--good-in {
      flex-flow: column nowrap;

      .page_left {
        width: 100%;
        padding: 0 30px;
      }

      .page_right {
        width: 100%;
        padding: 0 30px;
      }

      .page_left_content {
        width: 100%;
        max-width: 100%;
        padding-left: 19px;
        padding-right: 12px;
      }

      .page_right_content {
        width: 100%;
        max-width: 100%;
        padding-right: 12px;
        padding-left: 19px;
      }
    }

    &--portfolio {
      .page_right_content,
      .page_left_content {
        padding-left: 0;
      }
    }

    &--contacts {
      .page_right_content {
        padding-right: 12px;
      }
    }

    &--footer {
      .page_left_content {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 19px;
      }

      .page_right_content {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 12px;
      }
    }
  }

  .product-slider {
    .page_right_content {
      padding-right: 0
    }
  }

  .sidenav-trigger {
    display: none!important;
  }
}

@media #{$viewport-750} {
  $containerWidth: 100%;
  $containerMaxWidth: 970px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);
  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    width: 100% !important;
    padding: 0 30px;
  }

  .page {
    &_left {
      width: calc(50% - #{$containerWidth}/6);
      padding-left: 30px;
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6);
      padding-right: 30px;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: $containerLeftMaxWidth;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: $containerRightMaxWidth;
      padding-left: $containerRightWidth/8;
    }

    &--company {
      flex-flow: row nowrap;
      .page_left {
        width: 50%;
        padding: 0;
        padding-left: 30px;
      }

      .page_right {
        width: 50%;
        padding: 0;
        padding-right: 30px;
      }

      .page_left_content {
        width: 100%;
        padding-left: 21px;
        padding-right: 67px;
      }

      .page_right_content {
        width: 100%;
        padding-left: 8px;
      }
    }

    &--good-in {
      flex-flow: row nowrap;

      .page_left {
        width: 50%;
        padding: 0;
        padding-left: 30px;
      }

      .page_right {
        width: 50%;
        padding: 0;
        padding-right: 30px;
      }

      .page_left_content {
        width: 100%;
        padding-left: 21px;
        padding-right: 67px;
      }

      .page_right_content {
        width: 100%;
        padding-left: 15px;
      }
    }

    &--footer {
      .page_left{
        width: 25%;
        padding-left: 14px;
      }
      .page_right {
        width: 75%;
      }

      .page_left_content {
        width: 100%;
      }

      .page_right_content {
        width: 100%;
        padding-left: 0;
      }
    }

    &--services {
      .page_left {
        display: none;
      }

      .page_right_content {
        padding-left: 20px;
        max-width: 100%;
      }

      .page_right {
        width: 100%;
        padding: 0 30px;
      }
    }

    &--industry {
      .page_left {
        display: none;
      }

      .page_right_content {
        padding-left: 20px;
        max-width: 100%;
      }

      .page_right {
        width: 100%;
        padding: 0 30px;
      }
    }

    &--idea-to-product {
      .page_left {
        width: calc(50% - #{$containerWidth}/6 + 22px);
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6);
      }

      .page_container {
        padding: 0
      }

      .page_right_content {
        width: $containerRightWidth;
        max-width: $containerRightMaxWidth;
        padding: 0;
        padding-left: $containerRightWidth/8;
        padding-right: 2*$containerRightWidth/8;
      }
    }

    &--portfolio {
      .page_left {
        width: calc(50% - #{$containerWidth}/6);
        padding: 0;
        padding-left: 30px;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6);
        padding: 0;
        padding-right: 30px;
      }

      .page_left_content {
        width: $containerLeftWidth;
        max-width: $containerLeftMaxWidth;
        padding: 0;
        padding-left: 20px;
      }

      .page_right_content {
        width: $containerRightWidth;
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
        padding-right: 2*$containerRightWidth/8;
      }

      .page_container {
        flex-flow: row nowrap;
        padding: 0
      }
    }

    &--contacts {
      .page_left {
        display: none;
      }

      .page_right_content {
        padding-left: 20px;
        padding-right: 0;
        max-width: 100%;
      }

      .page_right {
        width: 100%;
        padding: 0 30px;
      }
    }
  }

  .range-slider {
    &--product {
      right: 45px;
    }

    &--portfolio {
      right: 45px;
    }

    &--services {
      right: 45px;
    }

    &--industry {
      right: 45px;
    }
  }
}

@media #{$viewport-970} {
  $containerWidth: 100%;
  $containerMaxWidth: 1280px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);
  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    width: 100% !important;
    padding: 0 30px;
  }

  .page {
    &_left {
      width: calc(50% - #{$containerWidth}/6 + 14px);
      padding-left: 30px;
    }

    &_right {
      width: calc(50% + #{$containerWidth}/6 - 20px);
      padding-right: 30px;
    }

    &_left_content {
      width: $containerLeftWidth;
      max-width: $containerLeftMaxWidth;
    }

    &_right_content {
      width: $containerRightWidth;
      max-width: $containerRightMaxWidth;
      padding-left: $containerRightWidth/8;
    }

    &--company {
      .page_left {
        width: calc(50% - #{$containerWidth}/6  + 14px);
        padding-left: 30px;
        padding-right: 0;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6  - 20px);
        padding-right: 30px;
      }

      .page_right_content {
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
      }

      .page_left_content {
        padding-left: 27px;
        padding-right: 0;
      }
    }

    &--services {
      .page_left {
        display: flex;
        width: calc(50% - #{$containerWidth}/6  + 14px);
        padding: 0;
        padding-left: 30px;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6  - 26px);
        padding: 0;
        padding-right: 30px;
      }

      .page_right_content {
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
      }
    }

    &--idea-to-product {
      .page_left {
        width: calc(50% - #{$containerWidth}/6  + 14px);
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6  - 20px);
      }

      .page_left_content {
        padding-left: 27px;
        max-width: $containerLeftMaxWidth;
      }

      .page_right_content {
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
      }
    }

    &--industry {
      .page_left {
        display: flex;
        width: calc(50% - #{$containerWidth}/6  + 14px);
        padding: 0;
        padding-left: 30px;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6  - 20px);
        padding: 0;
        padding-right: 30px;
      }

      .page_right_content {
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
      }
    }

    &--portfolio {
      .page_left {
        width: calc(50% - #{$containerWidth}/6  + 14px);
        padding-left: 30px;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6  - 20px);
        padding-right: 30px;
      }

      .page_left_content {
        padding-left: 27px;
      }
    }

    &--good-in {
      .page_left {
        width: calc(50% - #{$containerWidth}/6  + 14px);
        padding-left: 30px;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6  - 20px);
        padding-right: 30px;
      }

      .page_left_content {
        width: $containerLeftWidth;
        max-width: $containerLeftMaxWidth;
        padding-left: 27px;
        padding-right: 0;
      }

      .page_right_content {
        width: $containerRightWidth;
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
      }
    }

    &--contacts {
      .page_left {
        display: flex;
        width: calc(50% - #{$containerWidth}/6  + 14px);
        padding-left: 30px;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6  - 20px);
        padding-right: 30px;
      }



      .page_right_content {
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
      }

      .page_left_content {
        padding-left: 0;
      }
    }

    &--footer {
      .page_left {
        width: calc(50% - #{$containerWidth}/6  + 14px);
        padding-left: 30px;
      }

      .page_right {
        width: calc(50% + #{$containerWidth}/6  - 20px);
        padding-right: 30px;
      }

      .page_left_content {
        width: $containerLeftWidth;
        max-width: $containerLeftMaxWidth;
      }

      .page_right_content {
        width: $containerRightWidth;
        max-width: $containerRightMaxWidth;
        padding-left: $containerRightWidth/8;
      }
    }
  }

  .range-slider {
    &--product {
      right: 45px;
    }

    &--portfolio {
      right: 45px;
    }

    &--services {
      display: none;
    }

    &--industry {
      display: none;
    }
  }
}

@media #{$viewport-1280} {
  $containerWidth: 100%;
  $containerMaxWidth: 1244px;

  $containerLeftWidth: 2*100%*$containerWidth/(300% - $containerWidth);
  $containerRightWidth: 4*100%*$containerWidth/(300% + $containerWidth);

  $containerLeftMaxWidth: calc(#{$containerMaxWidth}/3);
  $containerRightMaxWidth: calc(2*#{$containerMaxWidth}/3);

  .container {
    padding: 0 18px !important;
  }

  .page {
    &_left {
      //width: calc(50% - #{$containerWidth}/6);
      width: initial;
      padding: 0;
    }

    &_right {
      //width: calc(50% + #{$containerWidth}/6);
      width: initial;
      padding: 0;
    }

    &_left_content {
      //width: $containerLeftWidth;
      //max-width: $containerLeftMaxWidth;
      width: initial;
      max-width: initial;
    }

    &_right_content {
      //width: $containerLeftWidth;
      //max-width: $containerLeftMaxWidth;
      width: initial;
      max-width: initial;
    }

    &--company,
    &--services,
    &--idea-to-product,
    &--industry,
    &--portfolio,
    &--good-in,
    &--contacts,
    &--footer {
      .page_left {
        width: initial;
        padding: 0;
      }

      .page_right {
        width: initial;
        padding: 0;
      }

      .page_left_content {
        width: initial;
        max-width: initial;
        padding-left: 48px;
      }

      .page_right_content {
        width: initial;
        max-width: initial;
        padding-left: 9.5%;
      }
    }

    &--idea-to-product,
    &--footer{
      .page_left_content {
        padding-left: 0;
      }
    }

    &--contacts {
      .page_left_content {
        padding-left: 12px;
      }
    }

    &--services,
    &--industry {
      .page_left_content {
        padding-left: 20px;
      }

      .page_right_content {
        padding-right: 0;
      }
    }

    //&--company {
    //  .page_left {
    //    width: calc(50% - #{$containerWidth}/6);
    //    padding: 0;
    //  }
    //
    //  .page_right {
    //    width: calc(50% + #{$containerWidth}/6);
    //    padding: 0;
    //  }
    //
    //  .page_left_content {
    //    width: $containerLeftWidth;
    //    max-width: $containerLeftMaxWidth;
    //    padding: 0;
    //  }
    //
    //  .page_right_content {
    //    width: $containerRightWidth;
    //    max-width: $containerRightMaxWidth;
    //    padding: 0;
    //    padding-left: $containerRightWidth/8;
    //  }
    //}
    //
    //&--services {
    //  .page_left {
    //    display: flex;
    //    width: calc(50% - #{$containerWidth}/6);
    //    padding: 0;
    //  }
    //
    //  .page_right {
    //    width: calc(50% + #{$containerWidth}/6);
    //    padding: 0;
    //  }
    //
    //  .page_right_content {
    //    max-width: $containerRightMaxWidth;
    //    padding-left: $containerRightWidth/8;
    //  }
    //}
    //
    //&--idea-to-product {
    //  .page_left,
    //  .page_right {
    //    padding: 0;
    //  }
    //
    //  .page_left_content {
    //    max-width: $containerLeftMaxWidth;
    //    padding: 0;
    //  }
    //
    //  .page_right_content {
    //    max-width: $containerRightMaxWidth;
    //    padding-left: $containerRightWidth/8;
    //  }
    //}
    //
    //&--industry {
    //  .page_left {
    //    display: flex;
    //    width: calc(50% - #{$containerWidth}/6);
    //    padding: 0;
    //  }
    //
    //  .page_right {
    //    width: calc(50% + #{$containerWidth}/6);
    //    padding: 0;
    //  }
    //
    //  .page_left_content {
    //    max-width: $containerLeftMaxWidth;
    //    padding: 0;
    //  }
    //
    //  .page_right_content {
    //    max-width: $containerRightMaxWidth;
    //    padding-left: $containerRightWidth/8;
    //  }
    //}
    //
    //&--portfolio {
    //  .page_left,
    //  .page_right {
    //    padding: 0;
    //  }
    //
    //  .page_left_content {
    //    max-width: $containerLeftMaxWidth;
    //    padding: 0;
    //  }
    //
    //  .page_right_content {
    //    max-width: $containerRightMaxWidth;
    //    padding-left: $containerRightWidth/8;
    //  }
    //}
    //
    //&--good-in {
    //  .page_left {
    //    width: calc(50% - #{$containerWidth}/6);
    //    padding: 0;
    //  }
    //
    //  .page_right {
    //    width: calc(50% + #{$containerWidth}/6);
    //    padding: 0;
    //  }
    //
    //  .page_left_content {
    //    width: $containerLeftWidth;
    //    max-width: $containerLeftMaxWidth;
    //    padding: 0;
    //  }
    //
    //  .page_right_content {
    //    width: $containerRightWidth;
    //    max-width: $containerRightMaxWidth;
    //    padding-left: $containerRightWidth/8;
    //  }
    //}
    //
    //&--contacts {
    //  .page_right {
    //    width: calc(50% + #{$containerWidth}/6  + 17px);
    //    padding: 0;
    //  }
    //
    //  .page_left {
    //    display: flex;
    //    width: calc(50% - #{$containerWidth}/6  - 17px);
    //    padding: 0;
    //  }
    //
    //  .page_right_content {
    //    max-width: $containerRightMaxWidth;
    //    padding-left: $containerRightWidth/8;
    //  }
    //
    //  .page_left_content {
    //    padding: 0;
    //  }
    //}
    //
    //&--footer {
    //  .page_left {
    //    width: calc(50% - #{$containerWidth}/6  + 17px);
    //    padding: 0;
    //  }
    //
    //  .page_right {
    //    width: calc(50% + #{$containerWidth}/6  - 17px);
    //    padding: 0;
    //  }
    //
    //  .page_left_content {
    //    width: $containerLeftWidth;
    //    max-width: $containerLeftMaxWidth;
    //  }
    //
    //  .page_right_content {
    //    width: $containerRightWidth;
    //    max-width: $containerRightMaxWidth;
    //    padding-left: $containerRightWidth/8;
    //  }
    //}

  }


  .range-slider {
    &--product {
      right: calc(50% - #{$containerWidth}/2);
    }

    &--portfolio {
      right: calc(50% - #{$containerWidth}/2);
    }
  }
}
