@import "../utils/vars";
@import "../theme/theme";

.animation-link {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 0.5px;

    @include themify($themes) {
      background: themed('linkColor');
    }
    transform-origin: 100% 0;
    transform: scaleX(0);
    animation: line_hover_out .5s cubic-bezier(.785,.135,.15,.86) both;
  }
}

.header-font {
  //color: $black17;
  font-family: $font-family-oswald;
  font-weight: 900;
  text-transform: uppercase;

  @include themify($themes) {
    color: themed('headerTextColor');
  }
}

h1, .h1 {
  @extend .header-font;
  font-size: 60px;
}

h2, .h2 {
  @extend .header-font;
  font-size: 56px;
}

h3, .h3 {
  @extend .header-font;
  font-size: 46px;
}

h4, .h4 {
  @extend .header-font;
  font-size: 36px;
}

h5, .h5 {
  @extend .header-font;
  font-size: 26px;
}

h6, .h6 {
  @extend .header-font;
  font-size: 16px;
}

.text {
  &_header {
    @extend .header-font;
    font-size: 36px;
    margin: 0 0 40px;
  }

  &_body {
    font-size: 18px;
    line-height: 30px;
    font-family: $font-family-roboto;
    font-weight: 400;
    margin: 0 0 40px;

    @include themify($themes) {
      color: themed('textColor');
    }

    &:last-child {
      margin: 0;
    }
  }
}

.quote {
  margin: 40px 0;
  padding: 0 0 0 40px;

  @include themify($themes) {
    color: themed('textColor');
  }

  &_body {
    font-family: $font-family-roboto;
    font-size: 22px;
    line-height: 36px;
    font-weight: 900;
    position: relative;

    &:after {
      content: '“';
      position: absolute;
      font-size: 60px;
      left: -25px;
      top: 10px;
    }
  }

  &_meta {
    font-size: 16px;
    margin: 10px 0 0;
  }

  &_author {
    font-weight: bold;
    padding: 0 8px 0 0;
    display: inline-block;
  }

  &_additional {
    display: inline-block;
  }
}

.list {
  margin: 40px 0 40px 40px;
  list-style: disc inside;

  @include themify($themes) {
    color: themed('textColor');
  }

  &_item {
    line-height: 28px;
    font-size: $font-size;
    padding: 0 0 30px;
    &:last-child {
      padding: 0;
    }
  }
  &-numeric{
    list-style: decimal inside;
  }
}

.link {
  @extend .animation-link;
  font-family: $font-family-roboto;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  position: relative;

  @include themify($themes) {
    color: themed('linkColor');
  }

  &:link {

  }

  &:active {
    outline: 0;
  }

  &:visited {

  }

  &:hover {

    @include themify($themes) {
      color: themed('linkColor');
    }

    text-decoration: none;
    &:after {
      animation: line_hover_in .5s cubic-bezier(.785,.135,.15,.86) both;
    }
  }
}

.section-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &_left {
    text-transform: uppercase;
    font-family: $font-family-roboto;
    font-weight: $robotoBold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;

    @include themify($themes) {
      color: themed('sectionTextColor');
    }
  }

  &_right {
    font-size: 16px;
    font-family: $font-family-oswald;
    font-weight: $oswaldSemiBold;
    padding: 0 10px 0 0;
    position: relative;

    @include themify($themes) {
      color: themed('textColor');
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      right: -5px;
      width: 8px;
      height: 8px;

      @include themify($themes) {
        background: themed('arrowBgc')
      }
    }

    &:hover {
      @include themify($themes) {
        color: themed('textColor');
      }
      text-decoration: none;
    }
  }
}

.rounded-link{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  transition: all .5s ease;

  span {
    width: 56px;
    height: 56px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: $yellow;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
  }

  &.rounded-link-banner {
    width: 65px;
    height: 65px;
    span {
      border: 1px solid $yellow;
      background-color: transparent;
    }

    &:after, &:before {
      transform: translate(-50%, -50%) rotate(90deg);
      mask: url("/assets/img/icon/arrow_link_black.svg") no-repeat;
      background-color: $yellow;
      transition: top .5s ease;
    }

    &:after {
      top: 50%;
      left: 50%;
    }

    &:before {
      top: -50%;
      left: 50%;
      z-index: 1;
    }

    &:hover {
      &:after {
        top: 150%;
        left: 50%;
      }

      &:before {
        top: 50%;
        left: 50%;
      }
    }
  }

  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 14px;
    background: url("/assets/img/icon/arrow_link_black.svg") center no-repeat transparent;
    transition: left .5s ease;
  }

  &:after {
    left: 50%;
  }

  &:before {
    left: -50%;
    z-index: 1;
  }

  &:hover {
    span{
      width: 60px;
      height: 60px;
    }

    &:after {
      left: 150%
    }

    &:before {
      left: 50%;
    }
  }
}

.active-item {
  $size: 12px;
  $size-bold: 20px;

  text-transform: uppercase;
  font-family: $font-family-oswald;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  color: $greyE2;
  padding: 0 25px;
  position: relative;
  width: auto;
  display: block;

  @include themify($themes) {
    color: themed('textColor');
  }

  &:before {
    content: '';
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $yellow;
    position: absolute;
    top: calc(50% - #{$size/2});
    left: 7px;
    transition: background-color .5s ease;
  }

  &:hover {
    &:before {
      background-color: transparent;
    }
  }

  &--bold {
    font-size: 22px;
    &:before {
      width: $size-bold;
      height: $size-bold;
      top: calc(50% - #{$size-bold/2});
      left: 1px
    }
  }
}

.tabs-element {
  .tab_item {
    max-width: 320px;
    font-family: $font-family-oswald;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.1px;
    padding: 0 10px;
    border-left: 2px solid transparent;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .5s ease;

    &:hover{
      color: $yellow;
    }

    &.active {
      border-left-color: $yellow;
      color: $yellow;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .tab_content {
    &.tab-pane{
      display: none
    }

    &.active{
      display: block
    }
  }
}

#width33-header {
  position: absolute;
  width: 1px;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: calc(100%/3) ;
}
