section.theme-dark.page.page--banner
  .container
    .row
      .col.s12
        .page_content
          .banner-slider
            .banner-slide_item
              .row
                .col.s12.l7.m9
                  .text
                    .text_header Custom Software Development & Outsourcing
                    p.text_body.
                      Custom software, mobile applications and websites we build, help you increase profit,
                      minimize risk and make your business more efficient.
                    a.rounded-link.rounded-link-banner(href="#")
                      span
            .banner-slide_item
              .row
                .col.s12.l7.m9
                  .text
                    .text_header Software legacy renovation services
                    p.text_body.
                      Custom software, mobile applications and websites we build, help you increase profit,
                      minimize risk and make your business more efficient.
                    a.rounded-link.rounded-link-banner(href="#")
                      span
            .banner-slide_item
              .row
                .col.s12.l7.m9
                  .text
                    .text_header 1st and 2nd line outsourced technical support
                    p.text_body.
                      Custom software, mobile applications and websites we build, help you increase profit,
                      minimize risk and make your business more efficient.
                    a.rounded-link.rounded-link-banner(href="#")
                      span
            .banner-slide_item
              .row
                .col.s12.l7.m9
                  .text
                    .text_header UX/UI Design services
                    p.text_body.
                      Custom software, mobile applications and websites we build, help you increase profit,
                      minimize risk and make your business more efficient.
                    a.rounded-link.rounded-link-banner(href="#")
                      span
            .banner-slide_item
              .row
                .col.s12.l7.m9
                  .text
                    .text_header Sites technical audit and SEO consulting
                    p.text_body.
                      Custom software, mobile applications and websites we build, help you increase profit,
                      minimize risk and make your business more efficient.
                    a.rounded-link.rounded-link-banner(href="#")
                      span
          .range-slider.range-slider--banner
            .range-slider_arrow.range-slider_arrow-prev
            .range-slider_current-slide-number 01
            .range-slider_range-all
            .range-slider_range-progress
            .range-slider_all-slide-number 05
            .range-slider_arrow.range-slider_arrow-next
