section.theme-light.page.page--company
  .container
    .row
      .col.s12
        .page_title.section-title
          .section-title_left we are good in
          a(href="#").section-title_right View more
        .page_content
          .row
            .col.s4
              .text
                .text_header We are InStandart
                p.text_body.
                  We have extensive experience in the development
                  of software products of varying complexity.
                p.text_body.
                  We work with various technologies, so if you need product
                  development not from the very beginning, and the completion of
                  a not completed project or its support, we can do it.
                a.rounded-link(href="#")
                  span
            .col.s7.offset-s1
              .info-blocks
                .info-block
                  .info-block_number 5+
                  .info-block_text Years of Experience
                .info-block
                  .info-block_number 40+
                  .info-block_text People in engineering
                .info-block
                  .info-block_number 782+
                  .info-block_text Cups of coffee were drunk
                .info-block
                  .info-block_number 93+
                  .info-block_text Digital solutions
