section.theme-light.page.page--company
  .page_title
    .container
      .section-title
        .section-title_left company
  .page_left
    .page_left_content
      .text
        h1.text_header We are InStandart
        p.text_body.
          We have extensive experience in the development
          of software products of varying complexity.
        p.text_body.
          We work with various technologies, so if you need product
          development not from the very beginning, and the completion of
          a not completed project or its support, we can do it.
        a.rounded-link(href="#")
          span
  .page_right
    .page_right_content
      .info-blocks
        .info-block
          .info-block_number 5<span>+</span>
          .info-block_text Years of Experience
        .info-block
          .info-block_number 40<span>+</span>
          .info-block_text People in engineering
        .info-block
          .info-block_number 782<span>+</span>
          .info-block_text Cups of coffee were drunk
        .info-block
          .info-block_number 93<span>+</span>
          .info-block_text Digital solutions
