section.theme-dark.page.page--contacts
  .page_title
    .container
      .section-title
        .section-title_left contact us
  .page_left
    .page_left_content
      .contacts
        .contacts_item
          .contacts_item_header Hire us:
          .contacts_item_body
            ul.tel
              li.tel_item.tel_item--usa
                a(href="tel:") +1 646 9802450
              li.tel_item.tel_item--ua
                a(href="tel:") +380 96 7958785
        .contacts_item
          .contacts_item_header Partnership and collaboration:
          .contacts_item_body
            a.link(href="#") sales@instandart.com
        .contacts_item
          .contacts_item_header Careers:
          .contacts_item_body
            a.link(href="#") hr@instandart.com
  .page_right
    .page_right_content
      include form
