section.theme-light.page.page--good-in
  .page_title
    .container
      .section-title
        .section-title_left We are good in
  .page_left
    .page_left_content
      .text
        .text_header Technologies
        p.text_body.
          We use the most modern technical solutions. And always we are happy
          to research new technologies. Whatever the field or platform, we can create it.
          Whatever the field or platform, we can create it.
        p.text_body.
          We use the most modern technical solutions. And always we are happy
          to research new technologies.
  .page_right
    .page_right_content
      .technology
        .technology_item
          img(src="/assets/img/icon/technology/angular.svg")
        .technology_item
          img(src="/assets/img/icon/technology/javascript.svg")
        .technology_item
          img(src="/assets/img/icon/technology/less.svg")
        .technology_item
          img(src="/assets/img/icon/technology/php.svg")
        .technology_item
          img(src="/assets/img/icon/technology/python.svg")
        .technology_item
          img(src="/assets/img/icon/technology/react_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/sass.svg")
        .technology_item
          img(src="/assets/img/icon/technology/vue_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/angular.svg")
        .technology_item
          img(src="/assets/img/icon/technology/javascript.svg")
        .technology_item
          img(src="/assets/img/icon/technology/less.svg")
        .technology_item
          img(src="/assets/img/icon/technology/php.svg")
        .technology_item
          img(src="/assets/img/icon/technology/python.svg")
        .technology_item
          img(src="/assets/img/icon/technology/react_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/sass.svg")
        .technology_item
          img(src="/assets/img/icon/technology/vue_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/angular.svg")
        .technology_item
          img(src="/assets/img/icon/technology/javascript.svg")
        .technology_item
          img(src="/assets/img/icon/technology/less.svg")
        .technology_item
          img(src="/assets/img/icon/technology/php.svg")
        .technology_item
          img(src="/assets/img/icon/technology/python.svg")
        .technology_item
          img(src="/assets/img/icon/technology/react_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/sass.svg")
        .technology_item
          img(src="/assets/img/icon/technology/vue_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/angular.svg")
        .technology_item
          img(src="/assets/img/icon/technology/javascript.svg")
        .technology_item
          img(src="/assets/img/icon/technology/less.svg")
        .technology_item
          img(src="/assets/img/icon/technology/php.svg")
        .technology_item
          img(src="/assets/img/icon/technology/python.svg")
        .technology_item
          img(src="/assets/img/icon/technology/react_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/sass.svg")
        .technology_item
          img(src="/assets/img/icon/technology/vue_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/angular.svg")
        .technology_item
          img(src="/assets/img/icon/technology/javascript.svg")
        .technology_item
          img(src="/assets/img/icon/technology/less.svg")
        .technology_item
          img(src="/assets/img/icon/technology/php.svg")
        .technology_item
          img(src="/assets/img/icon/technology/python.svg")
        .technology_item
          img(src="/assets/img/icon/technology/react_js.svg")
        .technology_item
          img(src="/assets/img/icon/technology/sass.svg")
        .technology_item
          img(src="/assets/img/icon/technology/vue_js.svg")
        .technology_item
        .technology_item
