section.theme-light.page.page--good-in
  .page_title
    .container
      .section-title
        .section-title_left We are good in
  .page_left
    .page_left_content
      .text
        .text_header Technologies
        p.text_body.
          We use the most modern technical solutions. And always we are happy
          to research new technologies. Whatever the field or platform, we can create it.
          Whatever the field or platform, we can create it.
        p.text_body.
          We use the most modern technical solutions. And always we are happy
          to research new technologies.
  .page_right
    .page_right_content
      .technology
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/angular.svg")
            div.technology_text Angular
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/javascript.svg")
            div.technology_text JavaScript
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/less.svg")
            div.technology_text Less
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/php.svg")
            div.technology_text PHP
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/python.svg")
            div.technology_text Python
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/react_js.svg")
            div.technology_text ReactJS
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/sass.svg")
            div.technology_text Sass
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/vue_js.svg")
            div.technology_text Vue
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/angular.svg")
            div.technology_text Angular
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/javascript.svg")
            div.technology_text JavaScript
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/less.svg")
            div.technology_text Less
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/php.svg")
            div.technology_text PHP
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/python.svg")
            div.technology_text Python
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/react_js.svg")
            div.technology_text ReactJS
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/sass.svg")
            div.technology_text Sass
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/vue_js.svg")
            div.technology_text Vue
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/angular.svg")
            div.technology_text Angular
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/javascript.svg")
            div.technology_text JavaScript
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/less.svg")
            div.technology_text Less
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/php.svg")
            div.technology_text PHP
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/python.svg")
            div.technology_text Python
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/react_js.svg")
            div.technology_text ReactJS
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/sass.svg")
            div.technology_text Sass
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/vue_js.svg")
            div.technology_text Vue
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/angular.svg")
            div.technology_text Angular
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/javascript.svg")
            div.technology_text JavaScript
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/less.svg")
            div.technology_text Less
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/php.svg")
            div.technology_text PHP
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/python.svg")
            div.technology_text Python
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/react_js.svg")
            div.technology_text ReactJS
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/sass.svg")
            div.technology_text Sass
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/vue_js.svg")
            div.technology_text Vue
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/angular.svg")
            div.technology_text Angular
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/javascript.svg")
            div.technology_text JavaScript
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/less.svg")
            div.technology_text Less
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/php.svg")
            div.technology_text PHP
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/python.svg")
            div.technology_text Python
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/react_js.svg")
            div.technology_text ReactJS
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/sass.svg")
            div.technology_text Sass
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/vue_js.svg")
            div.technology_text Vue
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/angular.svg")
            div.technology_text Angular
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/javascript.svg")
            div.technology_text JavaScript
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/less.svg")
            div.technology_text Less
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/php.svg")
            div.technology_text PHP
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/python.svg")
            div.technology_text Python
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/react_js.svg")
            div.technology_text ReactJS
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/sass.svg")
            div.technology_text Sass
        .technology_item
          .technology_img_wrap
            img.technology_img(src="/assets/img/icon/technology/vue_js.svg")
            div.technology_text Vue
        .technology_item
        .technology_item
