header.navbar-fixed.clearfix
  nav
    .nav-wrapper.container
      a.brand-logo(href="#!").
        <svg width="171" height="28" viewBox="0 0 127 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.396 21.1378V0.646484H12.6446V21.1378H8.396Z" fill="#FFDF6F"/>
        <path d="M15.371 21.1378V0.646484H19.9011L21.9231 10.4509V0.646484H26.1717V21.1378H21.8719L19.6708 10.8802V21.1378H15.371Z" fill="#FFDF6F"/>
        <path d="M33.8098 21.3761C31.7868 21.3761 30.3258 20.9087 29.4267 19.974C28.5276 19.0393 28.078 17.5325 28.078 15.4536V13.7785H32.0798C32.0798 13.7785 32.0798 14.9781 32.0798 16.0095C32.0798 17.0409 32.8157 17.5566 33.5245 17.5566C33.9222 17.5566 34.1989 17.4519 34.3545 17.2424C34.5101 17.0168 34.5879 16.6461 34.5879 16.1304C34.5879 15.4536 34.5015 15.2531 34.3286 14.8179C34.1557 14.3667 33.9309 13.996 33.6543 13.706C33.3949 13.3997 32.9194 12.9324 32.2278 12.3039L30.3085 10.5151C28.8215 9.16134 28.078 7.30709 28.078 5.66329C28.078 3.89056 28.5103 2.5449 29.3748 1.62631C30.2566 0.691596 31.5361 0.224243 33.2133 0.224243C35.219 0.224243 36.6628 0.723829 37.5446 1.723C38.4264 2.70605 38.486 4.60865 38.486 6.71981H34.71L34.684 4.93809C34.684 4.61409 34.3674 4.35049 34.1338 4.19706C33.9002 4.04367 33.6629 4.04367 33.369 4.04367C33.0231 4.04367 32.7638 4.13229 32.5908 4.30958C32.418 4.48682 32.3315 4.72856 32.3315 5.03478C32.3315 5.71164 32.7465 6.76816 33.5764 7.49337L36.17 9.81402C36.7752 10.3619 37.2766 10.8857 37.6743 11.3853C38.072 11.8688 38.3919 12.4489 38.6339 13.1258C38.876 13.7865 38.997 14.5762 38.997 15.4948C38.997 17.5415 38.5907 18.7411 37.778 19.8048C36.9827 20.8523 35.6599 21.3761 33.8098 21.3761Z" fill="#F5F5F5"/>
        <path d="M42.5303 21.1827V4.40627H39.8849V0.417633H49.6367V4.40627H46.9912V21.1827H42.5303Z" fill="#F5F5F5"/>
        <path d="M50.0535 21.1827L52.2061 0.417633H59.7535L61.8802 21.1827H57.6527L57.3414 17.8226H54.6441L54.3848 21.1827H50.0535ZM54.9813 14.5108H57.0043L56.0187 3.94697H55.8112L54.9813 14.5108Z" fill="#F5F5F5"/>
        <path d="M64.1382 21.1827V0.417633H68.7288L70.7778 10.353V0.417633H75.0831V21.1827H70.7259L68.4954 10.7881V21.1827H64.1382Z" fill="#F5F5F5"/>
        <path d="M77.9556 0.417633H84.1024C85.6932 0.417633 86.8863 0.828582 87.6815 1.65048C88.4772 2.47238 88.8834 3.6891 88.9005 5.30069L88.9524 15.0184C88.9699 17.0651 88.5893 18.6041 87.8112 19.6356C87.0331 20.667 85.7451 21.1827 83.9468 21.1827H77.9556V0.417633ZM83.2206 17.5083C84.0333 17.5083 84.4395 17.1376 84.4395 16.3963V5.68747C84.4395 5.2201 84.3964 4.8736 84.3099 4.64801C84.2408 4.40627 84.1024 4.24509 83.8949 4.16454C83.6874 4.08395 83.3678 4.04367 82.9353 4.04367H82.4425V17.5083H83.2206Z" fill="#F5F5F5"/>
        <path d="M90.6683 21.1827L92.821 0.417633H100.368L102.495 21.1827H98.2676L97.9563 17.8226H95.259L94.9996 21.1827H90.6683ZM95.5962 14.5108H97.6192L96.6336 3.94697H96.4261L95.5962 14.5108Z" fill="#F5F5F5"/>
        <path d="M104.753 0.417633H111.6C112.689 0.417633 113.528 0.651309 114.116 1.11866C114.721 1.5699 115.127 2.21453 115.335 3.05254C115.542 3.87445 115.646 4.93002 115.646 6.21928C115.646 7.39571 115.482 8.31431 115.153 8.97506C114.825 9.63578 114.254 10.0951 113.442 10.353C114.116 10.4819 114.6 10.7961 114.894 11.2957C115.205 11.7953 115.361 12.4721 115.361 13.3263L115.309 21.1827H110.952V13.0604C110.952 12.4802 110.831 12.1095 110.589 11.9484C110.347 11.7872 109.906 11.7067 109.266 11.7067V21.1827H104.753V0.417633ZM110.355 8.10482C110.978 8.10482 111.289 7.4763 111.289 6.21928C111.289 5.67133 111.263 5.26038 111.211 4.98643C111.159 4.71246 111.064 4.52714 110.926 4.43044C110.788 4.31761 110.589 4.26123 110.329 4.26123H109.292V8.10482H110.355Z" fill="#F5F5F5"/>
        <path d="M119.551 21.1827V4.40627H116.906V0.417633H126.658V4.40627H124.012V21.1827H119.551Z" fill="#F5F5F5"/>
        <circle cx="3.2391" cy="3.18273" r="2.53426" fill="#FFDF6F"/>
        </svg>
      a.sidenav-trigger(href="#" data-target="mobile-demo")
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href="sass.html") Portfolio
        li.active
          a(href="badges.html") About us
        li
          a(href="#" data-modal="modal-1").md-trigger.active-item Contact us
  ul.sidenav#mobile-demo
    li
      a(href="sass.html") Sass
    li
      a(href="badges.html") Components
    li
      a(href="collapsible.html") Javascript
    li
      a(href="mobile.html") Mobile
