section.theme-light.page.page--idea-to-product
  .page_title
    .container
      .section-title
        .section-title_left From idea to product
  .page_wrapper
    .product-slider
      .product-slider_item
        .page_container
          .page_left
            .page_left_content
              .product-slider_img
                img(src="/assets/img/product/ph_how_we_work_1.jpg")
                .product-slider_number 01
          .page_right
            .page_right_content
              .text
                .text_header Discussing your idea
                p.text_body.
                  This phase is a necessary step to figure out all requirements, dependencies and timeline.
                p.text_body.
                  We will contact you to discuss your project in detail. During this meeting we will figure
                  out all general requirements, constraints and dependencies.
                p.text_body.
                  As a result of this step we’ll prepare a requirement document
                  which describes all project scope.
      .product-slider_item
        .page_container
          .page_left
            .page_left_content
              .product-slider_img
                img(src="/assets/img/product/ph_how_we_work_2.jpg")
                .product-slider_number 02
          .page_right
            .page_right_content
              .text
                .text_header Analyzing requirements and Project Planning
                p.text_body.
                  Our experts perform a technical analyze, choose the best technology
                  stack based on the requirement document.
                p.text_body.
                  As a result they’ll prepare a technical design for your future project.
                p.text_body.
                  At the same time a dedicated project manager will calculate
                  necessary efforts to complete the project and prepare a master project plan with milestones.
      .product-slider_item
        .page_container
          .page_left
            .page_left_content
              .product-slider_img
                img(src="/assets/img/product/ph_how_we_work_3.jpg")
                .product-slider_number 03
          .page_right
            .page_right_content
              .text
                .text_header Implementation Monitoring and Control
                p.text_body.
                  To provide a quality development in compliance with the requirements we use a variety of
                  tools which pretend to make implementation phase clear and predictable.
                p.text_body.
                  This phase will be finished when your product will be successfully
                  deployed to your production environment.
                p.text_body.
      .product-slider_item
        .page_container
          .page_left
            .page_left_content
              .product-slider_img
                img(src="/assets/img/product/ph_how_we_work_4.jpg")
                .product-slider_number 04
          .page_right
            .page_right_content
              .text
                .text_header Necessary Support
                p.text_body.
                  After deployment, our support engineers would be
                  happy to provide support to your customers and users of your product.
                p.text_body.
                p.text_body.
      .product-slider_item
        .page_container
          .page_left
            .page_left_content
              .product-slider_img
                img(src="/assets/img/product/ph_how_we_work_1.jpg")
                .product-slider_number 05
          .page_right
            .page_right_content
              .text
                .text_header Discussing your idea
                p.text_body.
                  This phase is a necessary step to figure out all requirements, dependencies and timeline.
                p.text_body.
                  We will contact you to discuss your project in detail. During this meeting we will figure
                  out all general requirements, constraints and dependencies.
                p.text_body.
                  As a result of this step we’ll prepare a requirement document
                  which describes all project scope.
    .range-slider.range-slider--product
      .range-slider_arrow.range-slider_arrow-prev
        .range-slider_arrow_wrap
      .range-slider_current-slide-number 01
      .range-slider_range-all
      .range-slider_range-progress
      .range-slider_all-slide-number 05
      .range-slider_arrow.range-slider_arrow-next
        .range-slider_arrow_wrap
