section.theme-dark.page.page--industry
  .page_title
    .container
      .section-title
        .section-title_left Industries
  .page_left
    .page_left_content
      .tabs-element.tabs-element--industry
        .tab_item(data-bgc="/assets/img/bgc/bg_services_1.jpg").tab.active E-Commerce procesess automation
        .tab_item(data-bgc="/assets/img/bgc/bg_services_2.jpg").tab E-Commerce retail solutions
        .tab_item(data-bgc="/assets/img/bgc/bg_services_3.jpg").tab Data science analytics & insights
        .tab_item(data-bgc="/assets/img/bgc/bg_services_1.jpg").tab Real Estate market solutions
        .tab_item(data-bgc="/assets/img/bgc/bg_services_2.jpg").tab Restaurants & Food Services
  .page_right
    .page_right_content
      .tabs-element.tabs-element--industry
        .tab_content.tab-pane.active
          .text
            .text_header E-Commerce procesess automation.
            p.text_body.
              This phase is a necessary step to figure out all requirements, dependencies and timeline.
            p.text_body.
              We will contact you to discuss your project in detail. During this meeting we will figure
              out all general requirements, constraints and dependencies.
            p.text_body.
              As a result of this step we’ll prepare a requirement document
              which describes all project scope.
            a(href="" data-modal="modal-1").md-trigger.active-item.active-item--bold Get started
        .tab_content.tab-pane
          .text
            .text_header E-Commerce procesess automation.
            p.text_body.
              This phase is a necessary step to figure out all requirements, dependencies and timeline.
            p.text_body.
              We will contact you to discuss your project in detail. During this meeting we will figure
              out all general requirements, constraints and dependencies.
            p.text_body.
              As a result of this step we’ll prepare a requirement document
              which describes all project scope.
            a(href="" data-modal="modal-1").md-trigger.active-item.active-item--bold Get started
        .tab_content.tab-pane
          .text
            .text_header E-Commerce procesess automation.
            p.text_body.
              This phase is a necessary step to figure out all requirements, dependencies and timeline.
            p.text_body.
              We will contact you to discuss your project in detail. During this meeting we will figure
              out all general requirements, constraints and dependencies.
            p.text_body.
              As a result of this step we’ll prepare a requirement document
              which describes all project scope.
            a(href="" data-modal="modal-1").md-trigger.active-item.active-item--bold Get started
        .tab_content.tab-pane
          .text
            .text_header E-Commerce procesess automation.
            p.text_body.
              This phase is a necessary step to figure out all requirements, dependencies and timeline.
            p.text_body.
              We will contact you to discuss your project in detail. During this meeting we will figure
              out all general requirements, constraints and dependencies.
            p.text_body.
              As a result of this step we’ll prepare a requirement document
              which describes all project scope.
            a(href="" data-modal="modal-1").md-trigger.active-item.active-item--bold Get started
        .tab_content.tab-pane
          .text
            .text_header E-Commerce procesess automation.
            p.text_body.
              This phase is a necessary step to figure out all requirements, dependencies and timeline.
            p.text_body.
              We will contact you to discuss your project in detail. During this meeting we will figure
              out all general requirements, constraints and dependencies.
            p.text_body.
              As a result of this step we’ll prepare a requirement document
              which describes all project scope.
            a(href="" data-modal="modal-1").md-trigger.active-item.active-item--bold Get started
  .range-slider.range-slider--industry
    .range-slider_arrow.range-slider_arrow-prev
    .range-slider_current-slide-number 01
    .range-slider_range-all
    .range-slider_range-progress
    .range-slider_all-slide-number 05
    .range-slider_arrow.range-slider_arrow-next
