#modal-1.md-modal.md-modal-form.md-effect-1
  .container
    .row
      .col.s8.offset-s2
        .md-content
          button.md-close.
            <svg x="0px" y="0px" width="13" height="13" viewBox="0 0 13 13" style="enable-background:new 0 0 13 13;" xml:space="preserve">
              <style type="text/css">
                .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#D0D0D0;}
              </style>
              <path class="st0" d="M12.1,0L13,0.9L0.9,13L0,12.1L12.1,0z"/>
              <path class="st0" d="M0.9,0L0,0.9L12.1,13l0.9-0.9L0.9,0z"/>
            </svg>
          include form
