section.theme-dark.page.page--portfolio
  .page_title
    .container
      .section-title
        .section-title_left Portfolio
        a(href="#").section-title_right See more
  .page_wrapper
    .portfolio-slider
      .portfolio-slider_item
        .page_container
          .page_left
            .page_left_content
              .text
                .portfolio-slider_number 01
                .text_header Rennit NYC
                p.text_body.hide-on-med-and-down.
                  Team of developers, who are able to implement and support
                  the most disruptive website or app ideas.
          .page_right
            .page_right_content
              a(href="#").portfolio-slider_img
                img(src="/assets/img/portfolio/portfolio_photo_1.jpg")
      .portfolio-slider_item
        .page_container
          .page_left
            .page_left_content
              .text
                .portfolio-slider_number 02
                .text_header Rennit NYC
                p.text_body.hide-on-med-and-down.
                  Team of developers, who are able to implement and support
                  the most disruptive website or app ideas.
          .page_right
            .page_right_content
              a(href="#").portfolio-slider_img
                img(src="/assets/img/portfolio/portfolio_photo_2.jpg")
      .portfolio-slider_item
        .page_container
          .page_left
            .page_left_content
              .text
                .portfolio-slider_number 03
                .text_header Rennit NYC
                p.text_body.hide-on-med-and-down.
                  Team of developers, who are able to implement and support
                  the most disruptive website or app ideas.
          .page_right
            .page_right_content
              a(href="#").portfolio-slider_img
                img(src="/assets/img/portfolio/portfolio_photo_3.jpg")
      .portfolio-slider_item
        .page_container
          .page_left
            .page_left_content
              .text
                .portfolio-slider_number 04
                .text_header Rennit NYC
                p.text_body.hide-on-med-and-down.
                  Team of developers, who are able to implement and support
                  the most disruptive website or app ideas.
          .page_right
            .page_right_content
              a(href="#").portfolio-slider_img
                img(src="/assets/img/portfolio/portfolio_photo_2.jpg")
      .portfolio-slider_item
        .page_container
          .page_left
            .page_left_content
              .text
                .portfolio-slider_number 05
                .text_header Rennit NYC
                p.text_body.hide-on-med-and-down.
                  Team of developers, who are able to implement and support
                  the most disruptive website or app ideas.
          .page_right
            .page_right_content
              a(href="#").portfolio-slider_img
                img(src="/assets/img/portfolio/portfolio_photo_2.jpg")
    .range-slider.range-slider--portfolio
      .range-slider_arrow.range-slider_arrow-prev
      .range-slider_current-slide-number 01
      .range-slider_range-all
      .range-slider_range-progress
      .range-slider_all-slide-number 05
      .range-slider_arrow.range-slider_arrow-next
