@import "../../utils/vars";

.page {
  &--banner {
    border-top: 1px solid $grey28;
    .text {
      &_header {
        font-size: 90px;
        line-height: 105px;
      }

      &_body {
        font-size: 20px;
        line-height: 36px;
      }
    }

    .row {
      margin-bottom: 0;
    }
  }
}

.banner-slider {
  .text {
    margin-left: 20px;

    &_header {
      text-transform: initial;
    }
  }

  position: relative;
  overflow: hidden;
  width: 100%;
}
