@import "../../utils/vars";

.page {
  &--banner {
    border-top: 1px solid $grey28;
    .row {
      margin-bottom: 0;
    }

    &, .page_container,
    .page_content {
      @media #{$viewport-320} {
        height: 470px;
      }

      @media #{$viewport-480} {
        height: 655px;
      }

      @media #{$viewport-600} {
        height: 655px;
      }

      @media #{$viewport-750} {
        height: 437px;
      }

      @media #{$viewport-970} {
        height: 528px;
      }

      @media #{$viewport-1280} {
        height: 878px;
      }
    }

    @media #{$viewport-320} {
      .range-slider {
        display: none;
      }
    }

    @media #{$viewport-600} {
      .range-slider {
        display: block;
      }
    }

  }
}

.banner-slider {
  .text {
    &_body {
      font-size: 20px;
      line-height: 36px;
      display: none;
      @media #{$viewport-1280} {
        display: block;
      }
    }
  }

  position: relative;
  overflow: hidden;
  width: 100%;
}
