@import "../../utils/vars";

.page {
  &--company {
    &, .page_container,
    .page_content {
      @media #{$viewport-320} {
        height: 827px;
      }

      @media #{$viewport-480} {
        height: 847px;
      }

      @media #{$viewport-600} {
        height: 830px;
      }

      @media #{$viewport-750} {
        height: 633px;
      }

      @media #{$viewport-970} {
        height: 708px;
      }

      @media #{$viewport-1280} {
        height: 970px;
      }
    }

    .text {
      padding-left: 28px;

      @media #{$viewport-750} {
        padding-left: 0;
        max-width: 300px;
      }

      &_header {
        margin: 0 0 55px;

        @media #{$viewport-750} {
          margin: 0 0 40px;
        }
      }

      &_body {
        margin: 0 0 30px;
      }
    }

    .rounded-link {
      margin-top: 50px;

      @media #{$viewport-750} {
        margin-top: 0;
      }
    }
  }
}

.info-blocks{
  display: flex;
  flex-flow: row wrap;

  .info-block {
    font-family: $font-family-oswald;
    font-weight: $oswaldSemiBold;
    min-width: 320px;
    margin-bottom: 105px;

    @media #{$viewport-320} {

    }

    @media #{$viewport-480} {

    }

    @media #{$viewport-600} {

    }

    @media #{$viewport-750} {
      min-width: 100px;
      margin-bottom: 80px;
    }

    @media #{$viewport-970} {
      min-width: 235px;
      margin-bottom: 85px;
    }

    @media #{$viewport-1280} {
      min-width: 320px;
      margin-bottom: 105px;
    }

    &:last-child, &:nth-last-of-type(2){
      margin-bottom: 0;
    }

    &_number {
      font-size: 82px;
      font-weight: $oswaldMedium;
      color: $black17;
      margin-bottom: 30px;

      @media #{$viewport-320} {
        font-size: 48px;
      }

      @media #{$viewport-480} {
        font-size: 62px;
      }

      @media #{$viewport-600} {
        font-size: 62px;
      }

      @media #{$viewport-750} {
        font-size: 62px;
      }

      @media #{$viewport-970} {
        font-size: 72px;
      }

      @media #{$viewport-1280} {
        font-size: 82px;
      }

      span {
        font-size: 48px;

        @media #{$viewport-480} {
          font-size: 65px;
        }
      }
    }

    &_text {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      width: 150px;
      color: $black47;

      @media #{$viewport-320} {

      }

      @media #{$viewport-480} {
        font-size: 20px;
        line-height: 24px;
      }

      @media #{$viewport-970} {
        font-size: 22px;
        line-height: 28px;
      }

      @media #{$viewport-1280} {
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
}

@media #{$viewport-320} {

}

@media #{$viewport-480} {

}

@media #{$viewport-600} {

}

@media #{$viewport-750} {

}

@media #{$viewport-970} {

}

@media #{$viewport-1280} {

}
