@import "../../utils/vars";

/* start pixel perfect */
.page {
  &--company {
    .text {
      padding-left: 28px;

      &_header {
        font-size: 60px;
        line-height: 68px;
        letter-spacing: -0.5px;
        margin: 0 0 55px;
      }

      &_body {
        margin: 0 0 30px;
      }
    }

    .rounded-link {
      margin-top: 50px;
    }
  }
}
/* end pixel perfect */

.info-blocks{
  display: flex;
  flex-flow: row wrap;

  .info-block {
    font-family: $font-family-oswald;
    font-weight: $oswaldSemiBold; /* pixel perfect */
    min-width: 320px; /* pixel perfect */
    margin-bottom: 105px; /* pixel perfect */

    &:last-child, &:nth-last-of-type(2){
      margin-bottom: 0;
    }

    &_number {
      font-size: 82px; /* pixel perfect */
      font-weight: $oswaldMedium; /* pixel perfect */
      color: $black17;
      margin-bottom: 30px;
    }

    &_text {
      font-size: 22px;
      font-weight: 500;
      width: 150px;
      line-height: 28px;
      color: $black47;
    }
  }
}
