.page {
  &--contacts {
    .page_right {
      background: url("/assets/img/bgc/bg_contact_us.jpg") center no-repeat transparent;
    }

    &, .page_container,
    .page_content {
      @media #{$viewport-320} {
        height: 855px;
      }

      @media #{$viewport-480} {
        height: 789px;
      }

      @media #{$viewport-600} {
        height: 704px;
      }

      @media #{$viewport-750} {
        height: 703px;
      }

      @media #{$viewport-970} {
        height: 688px;
      }

      @media #{$viewport-1280} {
        height: 970px;
      }
    }
  }
}

.contacts{
  margin-left: 35px;

  &_item {
    margin-bottom: 65px;

    &:last-child {
      margin-bottom: 0;
    }

    &_header {
      font-family: $font-family-oswald;
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0;
      margin-bottom: 10px;
      color: $grey62;
    }

    &_body {

    }
  }

  .link {
    letter-spacing: 0;
    font-weight: 500;
  }
}

.tel {
  &_item {
    position: relative;
    padding: 5px 0 15px 45px;

    a {
      color: $white;
      font-family: $font-family-roboto;
      font-weight: 500;
      font-size: 18px;
    }

    &:after {
      content: '';
      width: 23px;
      height: 23px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 2px;
    }

    &--usa:after {
      background: url("/assets/img/icon/usa_flag.svg") center no-repeat transparent;
    }

    &--ua:after {
      background: url("/assets/img/icon/ukraine_flag.svg") center no-repeat transparent;
    }
  }
}
