.page {
  &--good-in {
    .page_right_content {
      //padding-right: 2*$containerRightWidth/8;
    }

    .text {
      margin-left: 35px;

      &_header {
        font-size: 64px;
        letter-spacing: -0.5px;
        margin: 0 0 55px;
      }

      &_body {
      }
    }
  }
}

.technology {
  height: 467px;

  &_item {
    width: 33%;
    flex-grow: 1;
    margin-bottom: 20px;

    img {
      filter: grayscale(100%);
      display: block;
      margin: 0 auto;
      cursor: pointer;
      width: 50px;
      @extend .transition;

      &:hover {
        filter: grayscale(0%)
      }
    }
  }

  .simplebar-content {
    display: flex;
    flex-flow: row wrap;
  }

  .simplebar-track.simplebar-vertical {
    width: 2px !important;
    background-color: #d3d3d3;

    .simplebar-scrollbar {
      background-color: #161616;
    }
  }
}
