.page {
  &--good-in {

    &, .page_container,
    .page_content {
      @media #{$viewport-320} {
        height: 850px;
      }

      @media #{$viewport-480} {
        height: 894px;
      }

      @media #{$viewport-600} {
        height: 927px;
      }

      @media #{$viewport-750} {
        height: 568px;
      }

      @media #{$viewport-970} {
        height: 622px;
      }

      @media #{$viewport-1280} {
        height: 970px;
      }
    }

    .page_right_content {
      //padding-right: 2*$containerRightWidth/8;
    }

    .text {

      &_header {
        @media #{$viewport-320} {
          letter-spacing: 1.5px;
        }

        @media #{$viewport-600} {
          letter-spacing: 0;
          margin: 0 0 40px;
        }
      }

      &_body {
      }
    }
  }
}

.technology {
  height: 467px;

  @media #{$viewport-320} {
    height: 330px;
    margin: 30px 40px 0;
  }

  @media #{$viewport-480} {

  }

  @media #{$viewport-600} {
    height: 424px;
    margin: 30px 0 0;
  }

  @media #{$viewport-750} {
    height: 424px;
    margin: 0;
  }

  @media #{$viewport-970} {
    margin-right: 14px;
  }

  @media #{$viewport-1280} {
    height: 467px;

    &:hover {
      .simplebar-track.simplebar-vertical {
        width: 5px;
      }
    }
  }

  &_item {
    width: 33%;
    flex-grow: 1;
    margin-bottom: 20px;

    @media #{$viewport-320} {
      &:nth-last-of-type(2) {
        display: none;
      }

      &:nth-last-of-type(1) {
        display: none;
      }
    }

    @media #{$viewport-480} {
      margin-bottom: 45px;
    }

    @media #{$viewport-750} {
      width: 50%;
    }

    @media #{$viewport-970} {
      width: 33%;
    }

    @media #{$viewport-1280} {
      margin-bottom: 75px;
    }
  }

  &_img_wrap {
    margin: 0 auto;
    width: 50px;

    @media #{$viewport-750} {
      width: 80px;
    }

    @media #{$viewport-970} {
      width: 50px;
    }

    @media #{$viewport-1280} {
      width: 90px;
      margin: 0;
    }
  }

  &_img {
    display: block;
    cursor: pointer;
    width: 100%;
    @extend .transition;

      @media #{$viewport-970} {
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%)
      }

      &:hover {
        & + .technology_text {
          opacity: 1;
        }
      }
    }
  }

  &_text {
    text-align: center;
    font-size: 14px;
    color: $grey6a;
    @extend .transition;

    @media #{$viewport-970} {
      opacity: 0;
    }
  }

  .simplebar-content {
    display: flex;
    flex-flow: row wrap;
  }

  .simplebar-track.simplebar-vertical {
    width: 2px;
    background-color: #d3d3d3;
    @extend .transition;

    .simplebar-scrollbar {
      background-color: #161616;
    }
  }

  .simplebar-content-wrapper {
    overflow-x: hidden !important;
  }
}
