@import "../../utils/vars";

.page {

  // only bg-image and height
  &--idea-to-product {
    &, .page_container,
    .page_content {
      @media #{$viewport-320} {
        height: 897px;
      }

      @media #{$viewport-480} {
        height: 825px;
      }

      @media #{$viewport-600} {
        height: 645px;
      }

      @media #{$viewport-750} {
        height: 604px;
      }

      @media #{$viewport-970} {
        height: 653px;
      }

      @media #{$viewport-1280} {
        height: 970px;
      }
    }
  }
}

.product-slider {
  position: relative;
  overflow: hidden;
  width: 100%;

  &_img{
    position: relative;

    @media #{$viewport-320} {
      max-width: 200px;
      margin-bottom: 30px;
    }

    @media #{$viewport-480} {
      max-width: 226px;
    }

    @media #{$viewport-600} {
      max-width: initial;
    }

    img {
      width: 100%;
      height: auto;
      @media #{$viewport-970} {
        max-height: 425px;
      }

      @media #{$viewport-1280} {
        max-height: initial;
      }
    }
  }

  &_number {
    font-family: $font-family-oswald;
    font-weight: 600;
    font-size: 30px;
    line-height: 66px;
    position: absolute;
    bottom: -15px;
    right: 28px;

    @media #{$viewport-480} {
      font-size: 40px;
      bottom: -25px;
    }

    @media #{$viewport-750} {
      font-size: 46px;
    }

    @media #{$viewport-970} {
      font-size: 56px;
    }
  }

  .text {
    @media #{$viewport-750} {
      //max-width: 300px;
    }

    &_header {
      max-width: 250px;
      margin: 0 0 50px 0;

      @media #{$viewport-480} {
        max-width: initial;
        margin: 0 0 35px 0;
      }

      @media #{$viewport-750} {
        max-width: 300px;
        margin: 0 0 35px 0;
      }

      @media #{$viewport-1280} {
        max-width: 360px;
        margin: 0 0 35px 0;
      }
    }

    &_body {
      margin: 0 100px 28px 0;
      line-height: 32px;

      @media #{$viewport-320} {
        margin: 0 0 28px 0;

        &:last-of-type {
          display: none;
        }
      }

      @media #{$viewport-750} {
        margin: 0 0 28px 0;

        &:last-of-type {
          display: none;
        }
      }
    }
  }

  .tab_item {
    padding: 0 0 0 25px;
    max-width: 340px;
  }
}

.range-slider {
  &--product {
    position: absolute !important;
    margin: auto;
    top: 0;
    bottom: 0;

    @media #{$viewport-320} {
      left: 0;
      right: 0;
      top: auto;
      bottom: -15px;
    }

    @media #{$viewport-750} {
      margin: auto;
      left: initial;
      right: 30px;
      top: 0;
      bottom: 0;
    }
  }
}
