@import "../../utils/vars";

.page {

  // only bg-image and height
  &--industry {
    .page_right {
      background: url("/assets/img/bgc/bg_services_1.jpg") center no-repeat transparent;
    }

    &, .page_container,
    .page_content {
      @media #{$viewport-320} {
        height: 653px;
      }

      @media #{$viewport-480} {
        height: 682px;
      }

      @media #{$viewport-600} {
        height: 610px;
      }

      @media #{$viewport-750} {
        height: 611px;
      }

      @media #{$viewport-970} {
        height: 681px;
      }

      @media #{$viewport-1280} {
        height: 970px;
      }
    }

    .text {
      @media #{$viewport-750} {
        max-width: 520px;
        margin-left: 18px;
      }
    }
  }
}

.range-slider {
  &--industry {
    position: absolute !important;
    margin: auto;
    top: 0;
    bottom: 0;

    @media #{$viewport-320} {
      left: 0;
      right: 0;
      top: initial;
      bottom: 0;
    }

    @media #{$viewport-600} {
      margin: auto;
      left: initial;
      right: 30px;
      top: 0;
      bottom: 0;
    }
  }
}

@media #{$viewport-320} {

}

@media #{$viewport-480} {

}

@media #{$viewport-600} {

}

@media #{$viewport-750} {

}

@media #{$viewport-970} {

}

@media #{$viewport-1280} {

}
