@import "../../utils/vars";
@import "../../theme/theme";

.page {
  &--portfolio {
    background: url("/assets/img/bgc/bg-portfolio.jpg") center no-repeat transparent;

    &, .page_container,
    .page_content {
      @media #{$viewport-320} {
        height: 678px;
      }

      @media #{$viewport-480} {
        height: 822px;
      }

      @media #{$viewport-600} {
        height: 765px;
      }

      @media #{$viewport-750} {
        height: 550px;
      }

      @media #{$viewport-970} {
        height: 678px;
      }

      @media #{$viewport-1280} {
        height: 970px;
      }
    }
  }
}

.portfolio-slider{
  &_item {
    .text {
      margin-left: 35px;

      @media #{$viewport-320} {
        margin-left: 0;
      }
      &_header {
        margin: 0 0 55px;

        @media #{$viewport-320} {
          font-size: 40px;
          line-height: 48px;
        }

        @media #{$viewport-480} {
          font-size: 50px;
          line-height: 58px;
        }

        @media #{$viewport-750} {
          font-size: 60px;
          line-height: 68px;
        }

        @media #{$viewport-970} {
          font-size: 74px;
          line-height: 82px;
        }

        @media #{$viewport-1280} {
          font-size: 80px;
          line-height: 68px;
        }
      }

      &_body {
        max-width: 350px;
      }
    }
  }

  &_img {
    width: 100%;
    position: relative;
    display: block;
    max-width: 500px;

    @media #{$viewport-320} {
      margin-bottom: 28px;
    }

    img {
      width: 100%;
      height: auto;
      @media #{$viewport-320} {
        max-height: 234px;
      }

      @media #{$viewport-480} {
        max-height: 340px;
      }

      @media #{$viewport-600} {
        max-width: 394px;
        max-height: 340px;
      }

      @media #{$viewport-750} {
        max-width: initial;
        max-height: initial;
      }

      @media #{$viewport-970} {
        max-height: initial;
        width: 445px;
      }

      @media #{$viewport-1280} {
        width: 100%;
      }
    }
  }

  &_number {
    font-family: $font-family-oswald;
    font-weight: $oswaldSemiBold;
    margin-bottom: 15px;

    @include themify($themes) {
      color: themed('headerTextColor');
    }
  }
}

.range-slider {
  &--portfolio {
    position: absolute !important;
    margin: auto;
    top: 0;
    bottom: 0;

    @media #{$viewport-320} {
      left: 0;
      right: 0;
      top: auto;
      bottom: -15px;
    }

    @media #{$viewport-600} {
      margin: auto;
      left: initial;
      right: 30px;
      top: 0;
      bottom: 0;
    }
  }
}

@media #{$viewport-320} {

}

@media #{$viewport-480} {

}

@media #{$viewport-600} {

}

@media #{$viewport-750} {

}

@media #{$viewport-970} {

}

@media #{$viewport-1280} {

}
