.page {
  &--services {

    &, .page_container,
    .page_content {
      @media #{$viewport-320} {
        height: 734px;
      }

      @media #{$viewport-480} {
        height: 733px;
      }

      @media #{$viewport-600} {
        height: 664px;
      }

      @media #{$viewport-750} {
        height: 651px;
      }

      @media #{$viewport-970} {
        height: 778px;
      }

      @media #{$viewport-1280} {
        height: 970px;
      }
    }

    .page_right {
      background: url("/assets/img/bgc/bg_services_1.jpg") center no-repeat transparent;
    }
  }
}

.tabs-element {
  &--services {
    margin-left: 5px;
  }

  .tab_item {
    padding: 0 0 0 25px;
    max-width: 340px;
  }

  .text {
    @media #{$viewport-750} {
      max-width: 520px;
      margin-left: 88px;
    }

    &_header {
      margin: 0 0 50px 0;
    }

    &_body {
      margin: 0 100px 28px 0;

      @media #{$viewport-320} {
      }

      @media #{$viewport-480} {
      }

      @media #{$viewport-600} {
      }

      @media #{$viewport-750} {
        display: block;
        &:last-of-type {
          display: none;
        }
      }

      @media #{$viewport-970} {
        display: none;
        &:first-of-type {
          display: block;
        }
      }

      @media #{$viewport-1280} {

      }
    }
  }

  .active-item {
    font-size: 22px;
    line-height: 72px;
    margin-top: 50px;

    @media #{$viewport-750} {
      margin-top: 0;
    }
  }
}

.range-slider {
  &--services {
    position: absolute !important;
    margin: auto;
    top: 0;
    bottom: 0;
  }
}

