extends ../layout/main

block variables
  - var title = 'Contact Us';
  - var description = 'Contact us page';
  - var pageClass = 'contact-page';

block content
  include ../includes/contact_us/jumbotron
  include ../includes/contact_us/contacts
  include ../includes/contact_us/form

block script
  script(type='text/javascript').
    // const foo = true;
    // let bar = function() { console.log(arguments)};
    // if (foo) {
    //   bar(1 + 5)
    // }
