extends ../layout/main

block variables
  - var title = 'Typography page';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section.theme-dark
    .container
      .row
        .col.s12
          .text
            .text_header Web development company.
            p.text_body.
              Say you have a small online business creating and selling handmade jewellery.
              You could look for an agency to build a powerful online shop for you, or you
              could go with a far more economically viable option and use off-the-shelf
              platforms for selling goods that can be integrated into sites in a matter of minutes.
            p.text_body.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores at aut consequatur dolores est excepturi expedita fugiat,
              molestias nobis qui sapiente, veniam? Distinctio modi numquam officia,
              praesentium quisquam vel vitae.
            p.text_body.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores at aut consequatur dolores est excepturi expedita fugiat,
              molestias nobis qui sapiente, veniam? Distinctio modi numquam officia,
              praesentium quisquam vel vitae.
            p.text_body.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Asperiores at aut consequatur dolores est excepturi expedita fugiat,
              molestias nobis qui sapiente, veniam? Distinctio modi numquam officia,
              praesentium quisquam vel vitae.
          .active-item contact us
        .col.s12
          a.link(href="#") sales@instandart.com
          .section-title
            .section-title_left we are good in
            a(href="#").section-title_right View more
          a.rounded-link(href="#")
            span
      .row
        .col.s12
          form.form(action="home.html")
            .row
              .col.s6
                .input-field
                  input.validate(id="name" type="text" name="name" minlength="4" required)
                  label(for="name") Your name*
                  span.helper-text(data-error="Please enter your name" data-success="")
              .col.s6
                .input-field
                  input.validate(id="phone-number" type="text" minlength="8" pattern="" name="phone-number")
                  label(for="phone-number") Phone number
                  span.helper-text(data-error="Wrong phone number" data-success="")
            .row
              .col.s6
                .input-field
                  input.validate(id="subject" type="text" name="subject" minlength="4")
                  label(for="subject") Subject
                  span.helper-text(data-error="Please enter your subject" data-success="")
              .col.s6
                .input-field
                  input.validate(id="email" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required)
                  label(for="email") Email address*
                  span.helper-text(data-error="The e-mail address entered is invalid!" data-success="")
            .row
              .col.s12
                .input-field
                  textarea.materialize-textarea(id="message" minlength="10" name="message")
                  label(for="message") How can we help you ?
            .row
              .col.s12
                .form_buttons
                  button.form_reset Clear form
                  button.active-item.form_submit(type="submit") Get started
                .form_helper-text Please fill in all the highlighted fields and try again.
  section.theme-light
    .container
      .row
        .col
          .header-text
            .h1 Development & <br/> Outsourcing
            .h2 Development & <br/> Outsourcing
            .h3 Development & <br/> Outsourcing
            .h4 Development & <br/> Outsourcing
            .h5 Development & <br/> Outsourcing
            .h6 Development & <br/> Outsourcing
          .paragraph-text
            .text
              .text_header Digital transformation of companies is no longer some buzzword.
              p.text_body.
                Say you have a small online business creating and selling handmade jewellery.
                You could look for an agency to build a powerful online shop for you, or you
                could go with a far more economically viable option and use off-the-shelf
                platforms for selling goods that can be integrated into sites in a matter of minutes.
              p.text_body.
                In these situations, companies would be advised to find a company that builds
                digital products, and that can help them define the challenge, create in-depth
                analysis and provide them a tailored solution.
              .quote
                q.quote_body.
                  In these situations, companies would be advised to find a company that
                  builds digital products, and that can help them define the challenge,
                  create in-depth analysis and provide them a tailored solution.
                .quote_meta
                  .quote_author Banks Wilson,
                  .quote_additional Union President
              p.text_body.
                In these situations, companies would be advised to find a company that builds
                digital products, and that can help them define the challenge, create in-depth
                analysis and provide them a tailored solution.
              ul.list.list-disk
                li.list_item Small online business
                li.list_item Creating and selling handmade jewellery
                li.list_item Powerful online shop
                li.list_item.
                  Economically viable option creating and selling handmade jewellery economically
                  viable option Economically viable option
                li.list_item Off-the-shelf platforms
              p.text_body.
                In these situations, companies would be advised to find a company that builds
                digital products, and that can help them define the challenge, create in-depth
                analysis and provide them a tailored solution.
              ol.list.list-numeric
                li.list_item Small online business
                li.list_item Creating and selling handmade jewellery
                li.list_item Powerful online shop
                li.list_item.
                  Economically viable option creating and selling handmade jewellery economically
                  viable option Economically viable option
                li.list_item Off-the-shelf platforms
        .col
          a.link(href="#") sales@instandart.com
          .section-title
            .section-title_left we are good in
            a(href="#").section-title_right View more
          a.rounded-link(href="#")
            span

