// Grid

$screen-320-min: 320;
$screen-480-min: 480;
$screen-600-min: 600;
$screen-750-min: 750;
$screen-970-min: 970;
$screen-1280-min: 1280;
$screen-1600-min: 1600;
$screen-2500-min: 2500;

$mobile-viewport: "(max-width: #{$screen-600-min - 1}px)";
$viewport-320: "only screen and (min-width: #{$screen-320-min}px)";
$viewport-480: "only screen and (min-width: #{$screen-480-min}px)";
$viewport-600: "only screen and (min-width: #{$screen-600-min}px)";
$viewport-750: "only screen and (min-width: #{$screen-750-min}px)";
$viewport-970: "only screen and (min-width: #{$screen-970-min}px)";
$viewport-1280: "only screen and (min-width: #{$screen-1280-min}px)";
$viewport-1600: "only screen and (min-width: #{$screen-1600-min}px)";
$viewport-2500: "only screen and (min-width: #{$screen-2500-min}px)";

$gutter-width: 18px;
$gutter-width-middle: 28px;
$mobile-gutter-reduce: 8px;
$half-gutter-width: $gutter-width * 0.5;
$gutter-compensation: ($gutter-width * 0.5) * -1;

// Colors

/**
    darkerColor
    darkColor
    Color
    Color33
    ColorAA
    Color3E
    lightColor
    lighterColor
 */

$black:   #0a0a0a;
$black15: #151515;
$black17: #171717;
$grey42:  #424242;
$black47: #474747;
$grey:    #343434;
$grey30:  #303030;
$grey27:  #272727;
$grey28:  #282828;
$greyE2:  #e2e2e2;
$greyEA:  #eaeaea;
$greyb4:  #b4b4b4;
$greyb8:  #b8b8b8;
$grey84:  #848484;
$grey8a:  #8a8a8a;
$grey8c:  #8c8c8c;
$grey62:  #626262;
$grey6a:  #6a6a6a;
$yellow:  #ffe462;
$white:   #fff;
$red:     #ff5a5a;

//7a7a7a

$black17_invert:  #eaeaea;
$grey_invert:     #8a8a8a;
$greyCC_invert:   #ccc;
$greyDF_invert:   #dfdfdf;
$grey40_invert:   #636262;

// Sizes
$base-font-size: 16px;
$base-line-height: 24px;
$base-border-radius: 6px;

// Fonts
// -------------------------------
$font-size: 18px;
$font-family-lato:    'Lato', sans-serif;
$font-family-roboto:  'Roboto', sans-serif;
$font-family-oswald:  'Oswald', sans-serif;

$oswaldMedium:    500;
$oswaldSemiBold:  600;

$robotoRegular:   400;
$robotoMedium:    500;
$robotoBold:      700;

// -------------------------------

// Animation
// -------------------------------
$mobile-nav-animation-time: 0.4s;
$desktop-nav-animation-time: 0.3s;
// -------------------------------


// Transition
// -------------------------------
.transition {
  transition: all $desktop-nav-animation-time ease;
}
// -------------------------------

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.
