// Grid
$sm-screen-min: 320;
$md-screen-min: 768;
$lg-screen-min: 1024;
$xl-screen-min: 1400;

$mobile-viewport: "(max-width: #{$lg-screen-min - 1}px)";
$sm-viewport: "only screen and (min-width: #{$sm-screen-min}px)";
$md-viewport: "only screen and (min-width: #{$md-screen-min}px)";
$lg-viewport: "only screen and (min-width: #{$lg-screen-min}px)";
$xl-viewport: "only screen and (min-width: #{$xl-screen-min}px)";

$gutter-width: 10px;
$mobile-gutter-reduce: 8px;
$half-gutter-width: $gutter-width * 0.5;
$gutter-compensation: ($gutter-width * 0.5) * -1;

$grid-columns: 12;

// Colors

/**
    darkerColor
    darkColor
    Color
    Color33
    ColorAA
    Color3E
    lightColor
    lighterColor
 */

$black:   #0a0a0a;
$black17: #171717;
$black15: #151515;
$grey:    #343434;
$greyb8:  #b8b8b8;
$yellow:  #ffe462;
$white: #fff;

$black17_invert: #eaeaea;
$grey_invert: #8a8a8a;
$greyCC_invert: #ccc;
$greyDF_invert: #dfdfdf;
$grey40_invert: #404040;

// Sizes
$base-font-size: 16px;
$base-line-height: 24px;
$base-border-radius: 6px;

// Fonts
// -------------------------------
$font-size: 18px;
$font-family-lato: 'Lato', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
// -------------------------------

// Animation
// -------------------------------
$mobile-nav-animation-time: 0.4s;
$desktop-nav-animation-time: 0.3s;
// -------------------------------

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.
