@import './sections/banner';
@import './sections/company';
@import './sections/services';
@import 'sections/idea-to-product';
@import './sections/industry';
@import './sections/portfolio';
@import './sections/good-in';
@import './sections/contacts';

.page {
  display: flex;
  flex-flow: row nowrap;
  height: 970px;
  position: relative;

  &_wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &_container {
    display: flex;
    flex-flow: row nowrap;
    height: 970px;
    position: relative;
  }

  &--services {
    .page_right {
      background: url("/assets/img/bgc/bg_services_1.jpg") center no-repeat transparent;
    }
  }

  &--industry {
    .page_right {
      background: url("/assets/img/bgc/bg_services_1.jpg") center no-repeat transparent;
    }

  }

  &--company {

  }

  &--portfolio {
    background: url("/assets/img/bgc/bg-portfolio.jpg") center no-repeat transparent;
  }

  &--contacts {
    .page_right {
      background: url("/assets/img/bgc/bg_contact_us.jpg") center no-repeat transparent;
    }
  }

  &--footer {
    height: 235px;
    border: 1px solid $grey27;
  }

  &_content {
    width: 100%;
    height: 900px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &_title {
    position: absolute;
    left: 0;
    right: 0;
    top: 106px;
    z-index: 1;
  }

  &_left {
    justify-content: flex-end;
  }

  &_right {
  }

  &_left, &_right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &_left_content {

  }

  &_right_content {

  }
}
