@import "../../utils/vars";
$height: 60px;

header {
  position: relative;
  width: 100%;
  height: $height !important;

  .brand-logo {
    top: 0;
    bottom: 0;
    line-height: 88px;

    svg {
      width: 172px;
      height: 37px;
      margin-left: 4px;
      margin-top: 27px;
    }
  }

  nav {
    height: $height !important;
    background-color: $black;

    a {
      color: #626262;
      font-family: $font-family-roboto;
      transition: color $desktop-nav-animation-time ease;
      padding: 0 35px;

      &:hover {
        color: $white;
        background-color: transparent;
        text-decoration: underline;
      }
    }

    .active-item {
      margin-left: 50px;
      margin-right: 10px;
    }
  }

  li {
    line-height: $height;
  }
}

@media #{$viewport-750} {
  header {
    height: $height !important;

    .brand-logo {
      line-height: 73px;
      svg {
        width: 118px;
        height: 37px;
        margin-left: 0;
        margin-top: 0;
      }
    }

    nav .active-item {
      margin-left: -11px;
      margin-right: -14px;
    }
  }
}

@media #{$viewport-970} {
  $height: 72px;

  header {
    height: $height !important;

    .brand-logo {
      svg {
        width: 144px;
        margin-left: 0;
        margin-top: 0;
      }
    }
    li {
      line-height: $height;
    }

    nav {
      height: $height !important;
      .active-item {
        margin-right: -12px;
      }
    }
  }
}

@media #{$viewport-1280} {
  $height: 88px;

  header {
    height: $height !important;

    .brand-logo svg {
      width: 172px;
      height: 37px;
      margin-left: 4px;
      margin-top: 27px;
    }

    li {
      line-height: $height;
    }

    nav {
      height: $height !important;
    }
  }
}
