@import "../../utils/vars";
@import "../../theme/theme";
$height: 60px;

header {
  position: relative;
  width: 100%;
  height: $height !important;

  .brand-logo {
    top: 0;
    bottom: 0;
    line-height: 88px;

    svg {
      width: 172px;
      height: 37px;
      margin-left: 4px;
      margin-top: 27px;
    }
  }

  nav {
    height: $height !important;
    background-color: $black;
    box-shadow: none;

    a {
      font-size: 17px;
      font-family: $font-family-roboto;
      font-weight: 500;
      color: $grey62;

      transition: color $desktop-nav-animation-time ease;
      padding: 0 35px;

      &.active-item {
        color: $greyE2;
        &:hover {
          color: $greyE2;
        }
      }

      &:hover {
        color: $yellow;
        background-color: transparent;
        text-decoration: none;
      }
    }

    .active-item {
      margin-left: 50px;
      margin-right: 10px;
    }
  }

  li {
    line-height: $height;
  }

  .sidenav{
    padding-top: 40px;
    background-color: #202020;
    li {
      a {
        font-size: 26px;
        line-height: 60px;
        font-family: $font-family-oswald;
        font-weight: $oswaldSemiBold;
        height: auto;
        color: $grey8a;

        &:active {
          color: $yellow;
        }
      }
    }
  }
}

.sidenav-overlay {
  background-color: rgba(0, 0, 0, 0.6)
}

@media #{$viewport-320} {
  header {
    .brand-logo {
      svg {
        width: 118px;
        height: 49px;
        margin-left: 0;
        margin-top: 0;
      }

      left: 0;
      transform: translateX(0);
    }

    .sidenav-trigger {
      float: right;
      margin-right: 7px;
      padding-right: 0;
      line-height: 70px;

      svg {
        width: 30px;
        height: 20px;

      }
    }
  }
}

@media #{$viewport-600} {
  header {
    .brand-logo {
      svg {
        width: 118px;
        height: 49px;
        margin-left: 0;
        margin-top: 0;
      }
    }

    nav {
      a {
        padding: 0 10px;
      }

      .active-item {
        margin: 0 0;
        padding-right: 10px;
      }
    }
  }
}

@media #{$viewport-750} {
  header {
    height: $height !important;

    .brand-logo {
      line-height: 73px;
      svg {
        width: 118px;
        height: 21px;
        margin-left: 0;
        margin-top: 0;
      }
    }

    li {
      margin-left: 25px;
    }

    nav {
      .active-item {
        margin-left: -11px;
        margin-right: 0;
      }
    }
  }
}

@media #{$viewport-970} {
  $height: 66px;

  header {
    height: $height !important;

    .brand-logo {
      left: 30px;
      svg {
        width: 144px;
        height: 25px;
        margin-left: 0;
        margin-top: 0;
      }
    }
    li {
      line-height: $height;
      margin-left: 70px;
    }

    nav {
      height: $height !important;
      .active-item {
        margin-right: 0;
      }
    }
  }
}

@media #{$viewport-1280} {
  $height: 72px;

  header {
    height: $height !important;

    .brand-logo {
      left: 0;

      svg {
        width: 172px;
        height: 37px;
        margin-left: 22px;
        margin-top: 19px;
      }
    }

    li {
      line-height: $height;
      margin-left: 70px;
    }

    nav {
      height: $height !important;

      .active-item {
        margin-right: 25px;
      }
    }
  }
}
