@import "../../utils/vars";
$height: 88px;

header {
  position: relative;
  width: 100%;
  height: $height !important;

  .brand-logo {
    top: 0;
    bottom: 0;
    line-height: 88px;

    svg {
      width: 172px;
      height: 37px;
      margin-left: 22px;
      margin-top: 27px;
    }
  }

  nav {
    height: $height !important;
    background-color: $black;

    a {
      color: #626262;
      font-family: $font-family-roboto;
      transition: color $desktop-nav-animation-time ease;
      padding: 0 35px;

      &:hover {
        color: $white;
        background-color: transparent;
        text-decoration: underline;
      }
    }

    .active-item {
      margin-left: 50px;
      margin-right: 28px;
    }
  }

  li {
    line-height: $height;
  }
}
