.page.theme-light.page--contacts-page--contacts
  .page_left
    .page_left_content
      .text
        h1.text_header Work with us
        p.text_body.
          Want to discuss your project with us and
          make your ideas come true? We're always just one click away.
  .page_right
    .page_right_content
      .row
        .col.s6
          ul.footer-links
            li.footer-links_item
              a.link(href="#") info@instandart.com
            li.footer-links_item
              a.link(href="#") sales@instandart.com
            li.footer-links_item
              a.link(href="tel:+1 646 9802450") +1 646 9802450
            li.footer-links_item
              a.link(href="tel:+380967958785") +380 96 7958785
        .col.s6
          ul.footer-links
            li.footer-links_item
              a.link(href="#") info@instandart.com
            li.footer-links_item
              a.link(href="#") sales@instandart.com
            li.footer-links_item
              a.link(href="tel:+1 646 9802450") +1 646 9802450
            li.footer-links_item
              a.link(href="tel:+380967958785") +380 96 7958785


